[2022-06-16 19:21] sarayourfriend commented on #1488
It looks good to me too. Does this address the perceived header button 'misalignment' by keeping the button borders in the header when the page is scrolled?

[2022-06-16 19:23] #1519 closed

[2022-06-16 20:55] krysal commented on #1475
WordPress/openverse-api#727 prevents a lot of 404 requests in search pages but the details endpoint still returns the thumbnail link for all audio files, so I'll open this again as the issue persist.

[2022-06-16 22:01] #1365 closed

[2022-06-17 01:19] sarayourfriend opened #1532 "Update TESTING_GUIDELINES.md to include instructions on how to run the test suite."
## Problem

Reported by @stacimc

TESTING_GUIDELINES should be updated with a small section at the top about how to run the existing test suite.

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-06-17 01:22] sarayourfriend opened #1533 "Fix typo in Storybook references in README.md"
## Description

https://github.com/WordPress/openverse-frontend/blob/main/README.md

Reported by @zackkrida

## Resolution

- [ ] 🙋 I would be interested in resolving this bug.

[2022-06-17 06:21] sarayourfriend commented on #1051
In @obulat's PR to update the POT file on every commit, I realized that I think we can just store the POT file and generated translation files (everything that isn't the `en.json`) in a separate, special and protected branch that is pushed to exclusively by a GH action every time main is merged too.

[2022-06-17 06:21] sarayourfriend commented on #1051
@dhruvkb do you want to continue working on this issue or do you mind if I assign it to myself to implement the action I'm describing? Alternatively you can work on it as well.

[2022-06-17 06:27] dhruvkb commented on #1051
You can take this up @sarayourfriend.

[2022-06-17 08:11] #1533 closed

[2022-06-17 13:11] panchovm commented on #1297
Now I understand. Thanks.

After tackling other current design issues, I will start working on this problem and share a proposal in a new ticket.

[2022-06-17 14:17] panchovm commented on #1488
@zackkrida, It will break the white space balance between rows since there will be more space for the license icons row. I am following a desktop consistency approach for all big screen breakpoints, the hover style in All results page is the same.

@sarayourfriend, This is the approach I am following:
1. The default header has the same left and right paddings as the content grid. The filters butto

[2022-06-17 14:18] krysal commented on #1051
Saying it again, I _couldn't_ reproduce the problem, were you able to do it @sarayourfriend? I'm curious about how.

[2022-06-19 04:09] obulat opened #1537 "The audio from search results keeps playing on the single result page even without the global player"
## Description

The audio from search results keeps playing on the single result page even without the global player.

## Reproduction

1. On a desktop search results page (All content or Audio), click Play for one of the audio results.
2. Click on another audio result to open a single result page.
3. The audio will still be playing, and you have no way of stopping it.

## Additional context

The

[2022-06-19 04:26] obulat opened #1538 "Add clarification for length filters"
## Problem

It can be difficult to understand what the length filter names mean.

## Description

We should add clarification. Something like:
- [ ] shortest under 30 seconds
- [ ] short 30 seconds - 2 minutes
- [ ] medium 2 - 10 minutes
- [ ] long above 10 minutes
Before implementing this, we need a design for it. This is what the current filters look like:
<img width="297" alt="Screen Shot 2022-

[2022-06-19 04:54] obulat commented on #1347
For context, here are the `filetype`s we currently have in the audio database:

| filetype |
|----------|
| mid      |
| mp32     |
| oga      |
| wav      |
| webm     |
| flac     |
| mp3      |
| opus     |
| ogg      |

[2022-06-19 10:57] #1307 closed

[2022-06-19 10:58] dhruvkb opened #1539 "Fix scroll shift when loading more results"
There is a problem with the scroll shift. When you click on Load more button, the page scrolls so that it's not possible to see where the previous page ends and the newly-loaded items start.

_Originally posted by @obulat in https://github.com/WordPress/openverse-frontend/pull/1527#pullrequestreview-1010680460_

[2022-06-20 16:28] dhruvkb commented on #1538
@panchovm since we need updated design for this component, should we tag this issue as `aspect: design`?

[2022-06-20 17:12] panchovm opened #1541 "All content results scope"
## Due date: 2022-07-08

## Assigned reviewers
- [x] @zackkrida
- [x] @krysal

## Description

The existing "All content" results page on mobile breakpoints, `sm` and smaller, have limited space for displaying information, and therefore, interacting with each content type item adds UX complexity and risks overloading the page with information and interfaces. On the other hand, we do not know exact

[2022-06-21 01:00] sarayourfriend commented on #1488
Does this mean the header will shift "outwards" when you scroll? I worry that will be a lot of auxiliary movement in addition to the scrolling movement that someone is already trying to focus on.

[2022-06-21 10:27] dhruvkb commented on #1488
I like that there is a border between the nav and the content below it but the horizontal expansion would be very strange considering the main vertical movement occurring during the scroll.

[2022-06-21 13:22] panchovm commented on #1538
The `needs design` label is sufficient. From this, I can start working on a proposal and sharing it under the `aspect: design` label.

[2022-06-21 14:25] #1303 closed

[2022-06-21 15:18] #1516 closed

[2022-06-22 16:24] #1475 closed

[2022-06-22 17:35] zackkrida commented on #1538
Do we need additional design? Could we not keep the checkboxes and redesign it later?

[2022-06-22 18:53] obulat commented on #1538
I think we need to know which font to use for the labels and the exact wording.

[2022-06-23 07:35] obulat opened #1543 "Make Playwright scroll wait times more reliable"
## Problem

Playwright utilities being added in #1530 at the time of opening of this issue have arbitrary sleep durations to make sure that the images are loaded when the page get scrolled. We need to make them less flaky.

## Description

@sarayourfriend's [comment](https://github.com/WordPress/openverse-frontend/pull/1530#discussion_r899026110) has the code suggestion to implement an approach th

[2022-06-23 14:25] panchovm commented on #1488
I tested different versions of the scroll behavior, with and without the spacing change, and the cleanest direction is no change at all of the paddings. Here is a prototype.

https://user-images.githubusercontent.com/895819/175322413-c1078f56-6556-4d91-86cf-6530fa40772f.mp4

The only change I am keeping is the border change for the content switcher and filter buttons. Nonetheless, in parallel, I a

[2022-06-23 16:19] panchovm commented on #1432
I updated the 3D model component on the smallest breakpoint views, and here are the outcomes.

<img width="600" alt="CleanShot 2022-06-23 at 12 11 42@2x" src="https://user-images.githubusercontent.com/895819/175345662-80fa0949-07cc-4ed2-a739-d3f34883a746.png">

I also started a discussion (#1541) about the purpose of the All content results. I would love your thoughts since it sparkles the envisio

[2022-06-24 17:09] zackkrida commented on #1329
I'll close this for inactivity, for now.

[2022-06-24 18:54] panchovm commented on #1538
For the checkbox elements, we need to use the existing element. But I was thinking of exploring different solutions for this filtering need.

Before, we considered using a number field for setting the duration time, a slider, or multiple radios instead of checkboxes. Nonetheless, and as @zackkrida said, we can implement the solution shown in the description and review alternatives afterward.

[2022-06-24 20:58] krysal opened #1544 "Missing album title"
## Description

The UI is not showing the audio title because it's using the wrong field name.

https://github.com/WordPress/openverse-frontend/blob/515693f829e5454e2ab61e2e9f472e17225a854e/src/components/VAudioDetails/VAudioDetails.vue#L29-L31

The audio details page should show the audio set information (title & link) when it's available, as in the [Figma mockups](https://www.figma.com/file/w60d

[2022-06-26 23:49] #1528 closed

[2022-06-27 05:17] #797 closed

[2022-06-27 19:22] zackkrida commented on #1538
@obulat Have we officially updated these values in the API, yet? Or to ask differently, are the times outlined in this issue accurate?

[code]

@WordPress/openverse do you think 's' for seconds, and 'min' for minute, along with using greater-than and less-than symbols, is good for the English translation? Here's a mockup:

<img width="247" alt="CleanShot 2022-06-27 at 15 21 08@2x" src="https://use

[2022-06-27 19:24] obulat commented on #1538
Yes, I've actually copies the values from the API, so they are accurate. At least for the newly-indexed audio items.

[2022-06-28 07:39] dhruvkb commented on #734
Currently we have two ways in which the meta-search feature is reached.

- a search has zero results

<img width="610" alt="Screenshot 2022-06-28 at 11 35 35 AM" src="https://user-images.githubusercontent.com/16580576/176120958-56cd2e1e-3d75-45a8-b5d2-82e62e25a7b5.png">

- below the load more button of the search results

<img width="585" alt="Screenshot 2022-06-28 at 11 37 50 AM" src="https://use

[2022-06-28 13:13] #1544 closed

[2022-06-28 14:14] panchovm commented on #734
Yes @dhruvkb, only the second appearance. Although I would pause this work until we have a decision regarding keeping using the term "Additional."

[2022-06-28 14:15] dhruvkb commented on #734
Good call @panchovm. I'll triage this issue as blocked for now.

[2022-06-28 15:53] obulat commented on #1541
I think I like the idea of showing off all that Openverse has to offer _especially_ on mobile screens because so many people only have access to the internet on mobiles. Although it does open the issue of performance, and rendering in various apps' internal browsers (I'm mainly thinking about opening a link to Openverse from inside the social media apps). But that is of course out of scope for thi

[2022-06-29 04:17] sarayourfriend commented on #1514
I think this is actually high if not critical because renovate opens PRs that are unactionable in the frontend repository like https://github.com/WordPress/openverse-frontend/pull/1502

It hasn't bothered us much yet but given renovate is configured to open update PRs monthly, we will probably get a slew of unactionable update PRs in a few days. This creates noise (which is distracting) and wastes

[2022-06-29 13:55] #1051 closed

[2022-06-29 19:20] fcoveram opened #1549 "Audio track navigation"
## Problem
The current audio component needs to allow the composite navigation to meet a11y requirements.

### Issues related
- #1297

## Proposal
### Desktop

https://user-images.githubusercontent.com/895819/176517211-ffbad05a-5a8f-489e-bb87-c8126188f434.mp4

|Snackbar. safe area|Overlapping snackbar|
|:---|:---|
|![image](https://user-images.githubusercontent.com/895819/176517276-7e3bf21d-cabb-4

[2022-06-29 22:13] krysal commented on #1514
It seems that dependabot still does not support `pnpm`, see the [package-ecosystem](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#package-ecosystem) options.

There was already an attempt on our part before in #1170.

[2022-06-30 06:16] sarayourfriend commented on #1297
For whoever picks up this issue: I've got a branch with a significant part of the base work done for this: https://github.com/wordpress/openverse-frontend/tree/add/audio-track-composite-layout

There are failing tests, but the bulk of what it needs is:

* complete the work on the `useSeekable` composable to make the `VAudioTrack` itself respond to keyboard seek interactions
* fix the design
* fix

[2022-06-30 06:17] sarayourfriend commented on #1549
I think this is the best way. For signed keyboard users who do not use a screen reader, we cannot assume that the length of time it takes for it to be read by the computer is sufficient for someone reading.

[2022-06-30 21:43] panchovm commented on #1549
I like @zackkrida's idea. Yet I would like to see how others have solved the problem. Meanwhile, the `sm` breakpoint flow should look like the prototype attached below.

Since visitors can control the wave area with the arrow keys on bigger breakpoints, we should do the same on `sm` and the wave area in the global player react to the time change. And to close the player, I like the idea of doing i

[2022-07-01 16:17] panchovm commented on #1541
Thanks for replying.

My only concern with this interaction is overwhelming the page with states and things moving simultaneously, like "a busy page."

I have neither clues nor data to select an option, but I am not dismissing it either. If we decide to add a music listening experience in the future, we might need to open the discussion to include features like a queue list, a full-screen player v

[2022-07-04 16:35] zackkrida commented on #1541
Thank you for writing this! The main thing I want to say is that I am happy to continue supporting the 'all content' view and providing interactive previews for each content type. The page does provide a very good visual representation of everything Openverse has to offer. Because the page is 'static' by default, meaning that things only move around or media only plays based on user interaction, I

[2022-07-05 14:01] panchovm commented on #1433
Coming back late here too.

You are right about this, and that Sources deserves its page. My main discrepancy with the Search Guide content is putting it inside a page rather than explaining its potential through the search experience, i.e., showing the syntax commands in the recent searches popover. I would like to explore a solution for this idea to be more explicit about my point.

Exactly 👍

I

[2022-07-05 14:24] zackkrida commented on #1433
@panchovm I think the page would be a great improvement. If we end up prioritizing the iframe project we could definitely launch this page as-designed here.

[2022-07-05 15:07] #1538 closed

[2022-07-05 15:20] zackkrida commented on #1212
The best fix here is probably to make sure if _any_ of our popovers extend outside of the viewport, that we constrain their height and apply an internal scrollbar.

I'm going to mark this as 'help wanted', since it's likely someone in the community interested in frontend work could take this on.

[2022-07-05 15:28] zackkrida commented on #1549
@panchovm @sarayourfriend does it make sense to _only_ show the snackbar when the user navigates to an audio track by keyboard? So basically the user expresses 'I want to use my keyboard to navigate here' and then we alert them of the controls.

Also regarding the global audio player, if the user presses 'play' on one of the audio tracks we can just dismiss the snackbar. I don't see a case where t

[2022-07-05 16:26] #1539 closed

[2022-07-06 18:29] sarayourfriend commented on #1549
Waiting for them to press play or escape seem like good times to dismiss the snack bar :+1: I think also yes, we can use keyboard navigation detection to determine when to show the snackbar. Maybe when an audio row is focused we could see if the link element matches `:focus-visible` selector?

[2022-07-06 21:43] panchovm commented on #1549
So it seems I can update the final mockups and mark this issue as `ready for work`. I just noticed that label. Should we use it to indicate that design issues reached a done status?

[2022-07-06 22:00] zackkrida commented on #1549
@panchovm i think removing 'needs design' should be enough! Curious what others think though

[2022-07-06 22:59] sarayourfriend commented on #1549
We also have the related https://github.com/WordPress/openverse-frontend/issues/1297 issue :thinking:

[2022-07-06 23:24] zackkrida commented on #1549
Ah that's right, maybe we just close this and add a reference to this and figma to #1297

[2022-07-07 13:56] panchovm commented on #1549
What if we close #1297 and create the PR from this issue? To me, the design source is clearest from a design issue than a report issue.

However, #1297 has the `I would be interested in implementing this feature` section.

Generally speaking, I like the idea of a workflow going as `report -> design -> implementation`.

[2022-07-07 14:22] zackkrida commented on #1549
#1297 also has a lot of tech information that would be very relevant to a developer. This particular issues goes beyond adding the new snackbar design, it requires some significant tech changes to the way the audio component works so I'm not sure.

[2022-07-07 14:38] #1347 closed

[2022-07-07 16:34] panchovm commented on #1549
That makes sense. I will close this issue. Thank you all for the iteration ✨

[2022-07-07 16:35] #1549 closed, assigned to nobody

[2022-07-07 16:47] zackkrida commented on #1549
@panchovm could you add the design references to #1297? Feel free to edit the original post.

[2022-07-07 21:04] panchovm commented on #1297
I have updated the initial message with the proposal and discussion ticket (#1549) and the Figma file link.

[2022-07-08 00:41] sarayourfriend commented on #1514
Oh right! That's the whole reason we went with Renovate in the first place :facepalm: Well, at least we can just try to debug renovate against package.json. I think to do that we could open a branch that updates the configuration to always open PRs instead of only monthly and then run the workflow anytime the PR is pushed and continue to debug why the "self-hosted" renovate still isn't running the

[2022-07-08 22:32] sarayourfriend opened #1557 "Generate a version.json file based on the ref of the current build"
## Problem

We'd like to have an Nginx sidecar container to go along with our Nuxt container in ECS. This nginx container at first will just be responsible for serving the https://search.openverse.engineering/version JSON file.

## Description

Add a second stage to the Dockerfile for the repository that builds an nginx image. Add building and publishing this image to the GHCR workflow. Push it to

[2022-07-10 18:27] krysal commented on #1557
This concept of a "sidecar image" is new to me, interesting! Could you add some context of why it is needed/what problem it aims to solve compared to how it's done currently?

[2022-07-10 18:59] sarayourfriend commented on #1557
Sure! The "sidecar" idea is related to the way an ECS Service's task definition works. You can only route to a single exposed port for each service, but you can run multiple containers within a single service. This means, for example, you can run your "primary" service and have any number of "sidecar" containers that asist the primary one, choosing only one as the "entrypoint" to the ECS Service.

[2022-07-11 13:36] sarayourfriend commented on #1557
I decided to go with the Nuxt static file approach for now and allow it to close this issue. If we want Nginx in the future to serve static files we can revisit that, but I don't think it's necessary right now.

[2022-07-11 14:41] krysal commented on #1557
Thanks for the explanation! I agree with using Nuxt to serve the file for now if that will allow unblocking the deployment actions.

[2022-07-11 15:01] sarayourfriend opened #1558 "Allow configuring an API key to use for server-side Openverse API requests"
## Problem

Currently the production frontend exempts itself from the API throttling by auto-magically adding its IP address to the list of exempted IPs in our production Redis. This has several bad problems:

1. It requires managing bespoke throttling classes (see https://github.com/WordPress/openverse-api/issues/585) to enable this behavior
2. It requires bad and leaky permissions to be given to

[2022-07-11 16:02] sarayourfriend commented on #1558
The same way they are now: anonymously throttled. Is that what you're asking?

[2022-07-11 19:04] krysal commented on #1491
No doubt about why the [execution](https://github.com/WordPress/openverse-frontend/runs/7206074158?check_suite_focus=true#step:4:67) is so [slow](https://github.com/WordPress/openverse-frontend/runs/7206074158?check_suite_focus=true#step:4:5706) 😬
[code]

[2022-07-11 19:11] panchovm opened #1560 "Different components in storybook and the staging site"
## Description
While reviewing the components in storybook, I noticed a different version of the audio box small and the search bar on the staging site. I did not check all components but it might happen with other components too

## Reproduction
1. Open the [small version of the audio box](https://wordpress.github.io/openverse-frontend/?path=/story/components-audio-track--box-small).
2. Open the

[2022-07-11 20:30] panchovm opened #1561 "Snackbar component for displaying messages"
## Description
We need to include a snack bar component to display messages for different contexts. The component is based on the [Gutenberg one](https://wordpress.github.io/gutenberg/?path=/story/components-snackbar--default).

<img src="https://user-images.githubusercontent.com/895819/178352421-22ab8630-cf4d-4f0e-a765-c1e629579628.png" width=300>

## References
- Audio track navigation issue #12

[2022-07-11 23:26] zackkrida commented on #1558
Yes, I forgot the current allowlisting was by ip and not by hostname so doesn't apply to the frontend at all. Thanks!

[2022-07-12 14:16] #1557 closed

[2022-07-12 15:29] dhruvkb commented on #1558
That^ was accidental, sorry.

[2022-07-13 14:54] sarayourfriend opened #1565 "Update locale scripts to optionally use a GitHub token to prevent rate limiting"
## Problem

It's possible for us to get rate limited in the locale scripts when running them in the GitHub actions: https://github.com/WordPress/openverse-frontend/runs/7323271948?check_suite_focus=true

## Description

Can we update the script to accept an optional github PAT argument to use for requests so that we can avoid this in the action runners?

## Alternatives

Devise some way to fall ba

[2022-07-13 20:37] sarayourfriend opened #1567 "Playwright tests are broken and blocking PRs"
## Description

See these two runs on separate PRs, neither of which modify the actual app:

https://github.com/WordPress/openverse-frontend/runs/7326438723?check_suite_focus=true
https://github.com/WordPress/openverse-frontend/runs/7327276653?check_suite_focus=true

## Additional context

## Resolution

- [ ] 🙋 I would be interested in resolving this bug.

[2022-07-18 12:17] sarayourfriend opened #1570 "Remove need to make external requests for i18n in CI"
## Problem

We get rate limited in CI when making requests to get translation files.

https://github.com/WordPress/openverse-frontend/runs/7388883247?check_suite_focus=true

## Description

It shouldn't be necessary for the CI to have these translation files pulled from external sources, at least not for _every_ step.

We could try some of the following options:
1. Request the translations in one

[2022-07-18 12:17] sarayourfriend commented on #1570
Marking as High because this disrupts development and blocks PRs.

[2022-07-18 14:35] sarayourfriend commented on #1565
Closed as invalid. https://github.com/WordPress/openverse-frontend/issues/1570 describes the actual issue.

[2022-07-18 14:54] #1565 closed

[2022-07-18 17:51] #1567 closed

[2022-07-19 02:22] sarayourfriend opened #1571 "Quick fixes to locale script to fix rate limiting"
## Description

Relate to/a sub-issue of https://github.com/WordPress/openverse-frontend/issues/1570

We need to avoid making tons of requests quickly to translate.wordpress.org. `setup-node-env` action makes this request and this is used at the start of basically all our CI scripts if not literally all of them. We should change this so that the i18n request is cached in an artifact used for all t

[2022-07-19 14:22] sarayourfriend opened #1573 "Squash the history of the gh-pages branch on each change and do clean up"
## Problem

The https://github.com/WordPress/openverse-frontend/tree/gh-pages branch is massive and has ballooned the size of our repository.

## Description

Each PR and each merge to main introduces a new recorded changeset to the https://github.com/WordPress/openverse-frontend/tree/gh-pages branch. This causes the repository size to change dramatically for no reason (this history is effectively

[2022-07-19 16:15] #1571 closed

[2022-07-20 17:54] sarayourfriend opened #1576 "Automatically run e2e tests against staging and production after automatically deploying them"
## Problem

It would be nice to be able to run the e2e tests automatically against staging and production so that we can absolutely verify that our expectations are reproducible in the live environments and not just in the locally run docker build. This is just a redundancy check.

## Description

We need to update the `playwright.config.ts` to allow passing the base url as an environment variable

[2022-07-21 14:45] #1491 closed

[2022-07-25 16:27] sarayourfriend opened #1578 "Add proper logging"
## Problem

Currently, we loosely use the `~/utils/console.ts` to sometimes log things, though not always in the most informational way. We also do not include useful debug information like a request ID, timestamps or standard formatting.

## Description

Using `winston`, `bunyan` or some other popular NodeJS logging library, enable JSON formatted logs with request IDs and try to clean up the exis

[2022-07-25 20:10] panchovm opened #1579 "Searchbar in homepage should not have border style"
## Description
In the homepage, the search bar component should not have a border, just the focus ring when active. Even when this page is under redesign (#1433), the new does not consider having a border either.

## Screenshots
<img width="677" alt="CleanShot 2022-07-25 at 16 05 29@2x" src="https://user-images.githubusercontent.com/895819/180865241-247d7531-401d-455e-afb6-ad50c5946dc1.png">

## A

[2022-07-25 20:27] panchovm opened #1580 "Focus style animation inconsistent across the site"
## Description
The focus style animation when browsing with a keyboard changes from animated to static. I do not why and exactly where this occurs but it affects consistency and feels odd.

## Reproduction
1. Search for anything.
2. Click on the search bar in the header while being in search results.
3. Browse with your keyboard, forward and backward.
4. See transition between focus styles between

[2022-07-25 20:39] panchovm opened #1581 "Wrong spacing in filters sidebar's top side"
## Description
In the search results page, the top side of filters sidebar has a bigger spacing than [audio release designs](https://www.figma.com/file/w60dl1XPUvSaRncv1Utmnb/Audio-Release?node-id=133%3A14463). The spacing should be `32px`.

## Reproduction
1. Search for anything.
2. Open the filter sidebar
3. Notice the top spacing of the sidebar compared with an [audio release mockup](https://ww

[2022-07-25 21:05] krysal commented on #1560
@panchovm To be specific on how to fix this, the audio box small component should look the same as on the desktop, right? Here is a GIF.
![CleanShot 2022-07-25 at 17 00 17](https://user-images.githubusercontent.com/9145885/180873705-ee3823d9-b131-4e26-8495-a7423e3016a8.gif)

[2022-07-26 05:21] obulat opened #1582 "Create a cron job to update the locale files used by the CI"
## Problem

The locale files such as the list of all locales and the translation strings for each locale are created on each app build. This is important to keep the translated strings up-to-date in production. However, every CI run also updates the locales and makes a lot of network requests. To minimize the number of network calls made by the CI, #1575 saves the select locale files to the `test/

[2022-07-26 12:49] #1573 closed

[2022-07-26 13:26] javierarce opened #1583 "Footer section appears cut off"
The footer section that suggests new sources after [a successful search](https://wordpress.org/openverse/search/image?q=cute%20dog) appears cut off.

<img width="1201" alt="Screenshot 2022-07-26 at 15 25 06" src="https://user-images.githubusercontent.com/4933/181016837-55dfcbba-ae73-43e8-a6fc-a2b75bc57dbc.png">

Tested on Chrome, Firefox, and Safari on desktop.

[2022-07-26 13:38] panchovm opened #1584 "Size of license definition popover is different for every license"
## Description
The size of license definition popover changes and it depends on the content placed inside. This variation feels odd and a fixed width, like the one defined [in mockups](https://www.figma.com/file/w60dl1XPUvSaRncv1Utmnb/Audio-Release?node-id=1109%3A26741), looks more balanced.

## Reproduction
1. Search for anything.
2. Open the filter sidebar.
3. Click on the question mark of CC BY

[2022-07-26 13:45] panchovm opened #1585 "Meta search should be disabled on all content results"
## Description
In all content results, the meta search section is visible at the end of the grid. This should be disabled as the section was designed to list sources related to a single content type and not multiple, as in this layout case. This logic applies to the outdated and the new design.

## Reproduction
1. Search for something.
2. Go or switch to All content results.
3. See the final secti

[2022-07-26 13:55] panchovm opened #1586 "Focus style visible in active tab in the attribution box"
## Description
In the single result view, the active tab in "Credit the creator" section keeps its focus style after clicking on it to see the attribution content.

## Reproduction
1. Search for anything.
2. Click on any result to see its details.
3. Click on any inactive tab in the "Credit the creator" section. You will see it working correctly.
4. Refresh the page.
5. Click again on any inactive

[2022-07-26 14:09] zackkrida commented on #1583
Ah, I see, w.org updated so that the admin bar appears on every site for non-logged-in users (it didn't previously for Openverse). Thanks for reporting this!

[2022-07-26 14:37] panchovm opened #1587 "Incorrect text styles in metadata information"
## Description
In the single result view of audio content, the metadata information shown in the Audio information section has incorrect styles. The font size is `16px` and line-height `32px`, while it should follow the [metadata item component](https://www.figma.com/file/GIIQ4sDbaToCfFQyKMvzr8/Openverse-Design-Library?node-id=1043%3A3305) definitions.

## Reproduction
1. Search for anything and s

[2022-07-26 15:18] #1477 closed

[2022-07-26 15:39] zackkrida commented on #1315
Hmm, as far as deployment is concerned should this be feature-flagged instead of hardcoded?

[2022-07-26 18:38] panchovm opened #1588 "Text styles in no results page are incorrect"
## Description
Title and description texts in the no results page do not follow the styles defined in [the mockup](https://www.figma.com/file/w60dl1XPUvSaRncv1Utmnb/Audio-Release?node-id=1479%3A20842). H1 should be `Heading 4` and the text below be `Description regular`.

## Reproduction
1. Open openverse on mobile or within the smallest breakpoint.
2. Search for "asd32asda"
3. Notice that title a

[2022-07-26 19:39] panchovm commented on #1197
The word "additional sources" is confusing term as we are not adding anything to Openverse.

@sarayourfriend suggested in an internal conversation that “external sources” sounds more explicit about what will happen. And I agree with that point.

This term also relates to the "additional types" designed for the switcher popover to show non-supported-yet content types, like video. In that vein, it s

[2022-07-26 21:22] krysal commented on #1586
What should be the expected behavior?

[2022-07-27 16:30] obulat opened #1589 "Add a CI step to check for locale completeness"
## Problem

We are using Vue-i18n for translations. With it, it is easy to use a key that doesn't exist in the locale file or to forget to remove a key that is not used anymore. This can lead to incorrect texts on the pages or even errors.

## Description

We should re-add a CI step that checks the locale file for missing or unused keys. The steps that will need to be done are:

1. Add the followi

[2022-07-27 17:55] RudyBecker commented on #1588
Working on this issue!

[2022-07-29 14:40] sarayourfriend opened #1591 "Replace `api-service` concept with Nuxt context-stored Axios instance"
## Problem

See https://github.com/WordPress/openverse-frontend/pull/1569/files#r933336938 for a description of the problem and a suggested solution. The discussion is copied here for posterity:

Prompted by @krysal's question which uncovered the assumption.

Basically it boils down to the fact that I think the `api-service` concept no longer serves us and in fact overcomplicates and bakes in inco

[2022-07-29 15:55] dhruvkb opened #1592 "Incorrect focus outline in audio waveform when used in row layout"
## Description

The focus outline of the waveform does not render correctly when it's connected to the right with the play pause button in the row layout.

<img width="755" alt="Screenshot 2022-07-29 at 9 07 12 PM" src="https://user-images.githubusercontent.com/16580576/181794768-efbeb910-50e1-41ef-be68-026307f19784.png">

Notice how
- the left edge is rounded when it should not be
- the yellow bl

[2022-07-29 16:20] panchovm commented on #1586
To change the tab style without adding the focus ring. If you follow all steps except step 4, you will see that it works correctly. Here is how I see it working properly.

<img src="https://user-images.githubusercontent.com/895819/181802113-f2b1cd82-6c5d-4f90-9751-de7a2d55999f.gif" width="400">

[2022-07-29 17:05] krysal commented on #1586
The focus style is an a11y feature that we implemented consciously on #1316, following [W3's guidelines](https://www.w3.org/WAI/ARIA/apg/patterns/tabpanel/). The error seems to be on the focus style not appearing on client-side navigation 😅

Do you want to rethink this style?

[2022-07-29 18:45] zackkrida commented on #1586
@krysal this sounds like a bug where our focus-visible styles aren't working on the server-rendered version of the page then!

## Current Behavior

- server side load: clicking or keyboard shows focus ring
- client side load: keyboard navigation shows focus ring, clicking does not

[2022-07-29 18:46] zackkrida commented on #1592
@dhruvkb am I understanding correctly that with the composite component work in #1297 the waveform itself would no longer have a focus ring, instead the whole audio track would?

[2022-07-29 19:05] krysal commented on #1586
@zackkrida The [examples](https://www.w3.org/WAI/ARIA/apg/example-index/tabs/tabs-automatic.html) of the W3's ARIA Authoring Practices Guide (APG) show the focus style with clicking as well.

[2022-07-29 19:23] zackkrida commented on #1586
It does show it, but it's not clear to me if that's a requirement or just a suggestion. The text in the "Accessibility Features" section is a little vague to me.

Either way, I think we should definitely show it on focus-visible and that there's an odd discrepancy in our code that we should figure out. Let's wait until we confirm with @panchovm about if we want to show the focus ring on click or n

[2022-07-30 07:04] dhruvkb commented on #1592
Yes @zackkrida that's true. Once that is implemented, we can remove all focus-related ornamentation from the component and close the issue.

[2022-08-01 08:37] dhruvkb opened #1597 "Strange blinking line in box-layout waveform"
## Description

When the audio plays in the multi-media search results a strange line can be seen blinking as it moves along the length of the waveform.

## Reproduction

1. Search for any term.
2. Play the box audio in the multi-media search results.
3. See the line.

## Screenshots

https://user-images.githubusercontent.com/16580576/182108069-c6310312-f681-4a9c-b702-e8ed3b791457.mov

## Environm

[2022-08-01 10:54] ramadanomar commented on #1587
🙋 I would be interested in resolving this bug.

[2022-08-01 13:12] zackkrida commented on #1587
Sounds great, thank you @ramadanomar!

[2022-08-01 14:26] ritesh-pandey commented on #1584
I looked into the issue. Adding `w-60` class on `div` with `popoverRef` should fix this. But style rule for `w-60` class seems to be missing in our version of Tailwind. The next best I can use is `w-64`. This works perfectly.

Here is how it looks with `w-64`
![Screenshot from 2022-08-01 19-54-27](https://user-images.githubusercontent.com/1433681/182170010-657573ba-e838-4408-ba88-0b0b6a87c8f4.png)

[2022-08-01 14:31] zackkrida commented on #1584
@ritesh-pandey if you'd like to make a PR with that change, go for it! That looks pretty good based on the screenshot.

[2022-08-01 14:58] ritesh-pandey commented on #1584
Git pre-commit hook is failing for me with following message:

[code]

Is there any problem in my setup?

[2022-08-01 15:46] obulat opened #1598 "Pre-commit fails if locale files are not loaded"
First [reported](https://github.com/WordPress/openverse-frontend/issues/1584#issuecomment-1201316092) by @ritesh-pandey.

## Description

Pre-commit hooks try to run tests and fail if the locale files do not exist.

## Reproduction

1. Remove all untracked files inside the `src/locales/` folder, if you have any (in particular, delete the `src/locales/ar.json` file).
2. Try making some changes and

[2022-08-01 15:53] zackkrida commented on #1584
@ritesh-pandey that's a bug we're fixing (see https://github.com/WordPress/openverse-frontend/issues/1598).

In the meantime if you run `pnpm build` once you'll have the necessary locale files on your machine. It's a good temporary fix to the problem.

[2022-08-01 16:07] panchovm commented on #1586
Maybe @sarayourfriend know if it is a requirement or not.

Showing the focus ring in the active state makes sense when navigating with the keyboard, where jumping across elements needs to be shown. Otherwise, the active style of the tab (without the ring, as [this gif](https://user-images.githubusercontent.com/895819/181802113-f2b1cd82-6c5d-4f90-9751-de7a2d55999f.gif)) seems enough to indicate the

[2022-08-01 16:13] sarayourfriend opened #1600 "AudioElement.play()'s promise is not properly handled when erroring"
## Description

We do not fully handle the promise returned by the AudioElement's `play` function: https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/play#return_value

We need to resolve errors in the promise by catching and handling them. We should not assume that the audio will play without issue.

https://sentry.io/share/issue/ba82b7f580074af3901151497c1ef3e2/

## Reproduction

[2022-08-01 16:25] sarayourfriend opened #1601 "User agent string information reduction in Chrome"
## Problem

Chrome is implementing the first steps of client hints as a replacement for user agent string information.

We currently rely on `express-useragent` package for UA parsing. This works okay, but I'm not sure if it will continue to work into the future. Using the example of the final reduced UA [strings from the Chrome documentation](https://www.chromium.org/updates/ua-reduction/#sample-

[2022-08-01 16:41] sarayourfriend opened #1602 "Nuxt redirect module raises an unhandled error when `onDecode`'s default implementation fails."
## Sentry link

https://sentry.io/share/issue/225eca77269140fe97d9f67ebe60edd7/

## Description

https://cs.github.com/nuxt-community/redirect-module/blob/a796553c2102a8623d2b186efb5553f1e0e302bb/lib/module.js#L4

This line is raising the error.

We can fix the issue by properly handling the errors by expanding on the configuration of the redirect module. Here is the issue from the module's reposi

[2022-08-01 16:46] sarayourfriend opened #1603 "Properly handle disabled feature flag branches"
## Sentry link

https://sentry.io/share/issue/499b597ffdfc497eb0821176aab103f6/

## Description

Currently we throw an error when `external_sources` is not enabled and a request to a video search is made and the flag is not enabled. This error is unhandled. Instead of throwing it, let's just explicitly send a redirect to the homepage OR we should show a special page that says the feature isn't ena

[2022-08-01 16:50] sarayourfriend opened #1604 "Fix media fetching error handling to actually capture issue description"
## Sentry link

https://sentry.io/share/issue/0e9ffd2ec1144d8e8b504db32e4e6c25/

## Description

https://github.com/WordPress/openverse-frontend/blob/96b061f411fbc73ae55980e2b6f9ecd358931762/src/stores/media/index.ts#L388

If we don't know how to handle an error, we should not just swallow it completely and mask it with a vague string unless we're also capturing the error in Sentry. Update the abo

[2022-08-01 16:51] sarayourfriend commented on #1604
While we're at it, it's probably not a bad idea to audit our error handling across the app and create subsequent issues to better capture exceptions and not swallow error messages when we don't know how to handle errors.

[2022-08-01 16:56] sarayourfriend opened #1605 "`NotSupportedError: The operation is not supported` raised in audio search in blink browsers (Safari + Chrome)"
## Sentry link

https://sentry.io/share/issue/48703a876a6445429029dda4f1b4cbea/

## Description

This issue is exclusively raised on Safari. I don't have access to Safari so I can't reproduce this. Based on the breadcrumbs it appears the user just searched for `podcast` audio and then tried to play a couple files.

Marking as low because it does not affect very many people but I can't tell whether

[2022-08-01 17:02] sarayourfriend opened #1606 "Unhandled null exception in media single result page"
## Sentry link

https://sentry.io/share/issue/4639eda89bfd47cc92e89f45b595daf2/
https://sentry.io/share/issue/f8984c4bd39a4ae48bbecc9a990a54cc/

## Description

`this.image` is null and it causes `head` to raise an exception. This also happens elsewhere on the page sometimes. We should prevent rendering the page unless image is not null.

Please also send a message to Sentry with some extra inform

[2022-08-01 17:11] krysal opened #1608 "Can't build docker image in macOS"
## Description

Python cannot be found and _Node-gyp should be able to find and use Python_.

The solution is suggested in the [base image's Best Practices](https://github.com/nodejs/docker-node/blob/main/docs/BestPractices.md#node-gyp-alpine).

## Reproduction

1. Run:

[code]

2. See the error:

<details>
<summary>Error message: installing deasync requires Python</summary>

[code]

</details>

#

[2022-08-01 18:57] sarayourfriend commented on #1586
I don't think showing a _focus ring_ is a requirement of active tabs. Some active tab indication is necessary and I think we already do have that with the outline changes, though those might not be significant enough to be considered accessible. [The contrast of the outline, for example, is not accessible](https://webaim.org/resources/contrastchecker/?fcolor=D6D4D5&bcolor=FFFFFF) and therefore it

[2022-08-01 19:00] sarayourfriend commented on #1586
Although, now that I'm looking at other accessible tab implementation examples, I think @krysal is probably correct that the focus style should also be preserved. https://design-system.service.gov.uk/components/tabs/ for example also preserves the focus style when clicking.

So I'll revise my recommendation: keep the focus style (but change it slightly so that it doesn't clash with the border) and

[2022-08-02 02:49] dhruvkb commented on #1605
I searched for podcast audio on Safari 15. Playing/pausing and seeking all seem to be working as expected. I was unable to reproduce this error (or any error for that matter, it was all working normally).

[2022-08-02 03:23] sarayourfriend commented on #1605
Sounds good to me, thanks for testing it. It's ~1 event per day so I'm expecting it to be some strange edge case.

[2022-08-02 05:38] #1598 closed

[2022-08-02 13:58] sarayourfriend opened #1610 "Update Sentry SDK to fix ReportingObserver"
## Sentry link

https://sentry.io/share/issue/e9e7e5a4046b4b90b93b7ed4543328ac/
https://sentry.io/share/issue/51442701efbf49deaa31f275aa83ff49/
https://sentry.io/share/issue/82a9b8bdba394bf6a86425acaf14134f/
https://sentry.io/share/issue/d61390890df04f9e88fd5b21dd3361db/

## Description

All our ReportingObserver errors in Sentry are missing most (all?) of the helpful information for identifying t

[2022-08-02 15:54] ramadanomar opened #1612 "<Replace this with actual title>"
## Description

No ar.json found when testing locales for Typescript on WSL
## Reproduction

1.  clone the repo
2.  run pnpm dev
3.  After compilation i recieve this:
4. See error.

## Screenshots

![image](https://user-images.githubusercontent.com/55840806/182417667-8a4161ad-0fdf-4e01-bd5d-a6525460d9fa.png)

## Environment

 - Device:
 - OS:
 - Browser:

## Additional context

To quote @sarayourf

[2022-08-02 22:24] sarayourfriend commented on #1612
Just to confirm @ramadanomar, did you want to try opening a PR for this? I've assigned the issue to you in the meantime, please let me know if you're not interested and someone else can hop on this.

Thanks for reporting it and sorry for the trouble.

[2022-08-02 22:25] sarayourfriend commented on #1612
Also: I believe this is not an issue with WSL but any fresh clone of the repository.

[2022-08-03 05:30] obulat opened #1614 "Correct heading <h1>-<h6> order"
## Problem

The headings in the web pages often skip levels and go from `<h1>` to `<h3>` and `<h5>`. This is bad for accessibility and should be fixed.

## Description

The order of the headings on the page is important for screen reader users. It helps them navigate the page more effectively [^1].
We often use the headings for visual style instead of the page organization. Instead, we should use

[2022-08-03 05:30] obulat opened #1615 "Search result page should not have an h4"
## Problem
The form with additional sources below the search result with the text 'Not finding what you're looking for...' should not be a heading. This is located in `VMetaSearchForm.vue` component:

<img width="708" alt="Not finding what you're looking for screenshot" src="https://user-images.githubusercontent.com/15233243/183044595-abeb7f37-d017-4778-baf8-cda9b469591f.png">

## Description
On t

[2022-08-03 05:30] obulat opened #1616 "Correct heading order for single audio result page"
## Problem

The heading order of single result pages (for example, https://search.openverse.engineering/audio/2ecd5631-c48c-4a5f-89c4-83c44dbbd365) is currently incorrect. `h2` and `h4` headings are skipped.

This issue was originally for both audio and image results, but then issue  #1698 was opened to track the image detail page.

## Description
The heading order should be logical (h1 - h6) and

[2022-08-03 05:30] obulat opened #1617 "Correct heading order for the Sources page"
## Problem

The heading order on the Sources page (https://search.openverse.engineering/sources) is currently incorrect. `<h2>` is skipped.

## Description

The heading order should be logical (h1-h6), but the visual styles should still match the designs.

[2022-08-03 05:30] obulat opened #1618 "Correct heading order for the Extension page"
## Problem
On the Extension page (https://search.openverse.engineering/extension), the main heading, 'A browser extension that lets you search and use open-licensed and public domain images.', should be h1.

## Description

The main heading should use `<h1>` element, but the visual styles should match the designs.

[2022-08-03 05:57] ramadanomar commented on #1617
I'd love to fix this!

[2022-08-03 05:58] ramadanomar commented on #1618
I'd love to fix this!

[2022-08-03 06:03] ramadanomar commented on #1600
🙋 I would be interested in resolving this bug.

[2022-08-03 11:28] sarayourfriend commented on #1600
Thanks @ramadanomar :tada: I've assigned the issue to you.

[2022-08-03 13:40] obulat commented on #1612
I've lowered the priority for this issue to `medium` because the problem has a workaround:
1. Run `pnpm i18n`. This should download all the translations and locale files.
2. Run `pnpm dev`.

The issue occurs when you run `pnpm dev` in a cleanly-installed repository. You have no locale files downloaded, and `pnpm dev` only creates the file with the list of locales (`src/locales/scripts/valid-locale

[2022-08-03 14:01] #1608 closed

[2022-08-03 14:06] obulat commented on #1618
Hi @ramadanomar 👋, I'm assigning the issue to you. Please note that I've added some details about the implementation in the parent issue, #1614.

[2022-08-03 16:58] RudyBecker commented on #1588
My friend [kickeyhickey](https://github.com/kickeyhickey) will be creating a PR for this! Thanks!

[2022-08-03 18:33] sarayourfriend commented on #1612
The TypeScript error occurs in the Playwright tests. Can we `@ts-ignore` that line with a note saying that the file sometimes doesn't exist?

I agree that copying the testing ar.json or adding the real one to the git history is not an appropriate solution, for the reasons you listed.

[2022-08-04 16:06] sarayourfriend opened #1620 "Add breadcrumb in Sentry via plugin to indicate whether the error came client or server side."
## Problem

We currently are not really able to tell easily whether an error comes from the client or server. To fix this, we can add a breadcrumb based on `process.server` and `process.client`.

## Description

Add a new plugin to add a new `render-context` breadcrumb to Sentry. It should be either `"server"` or `"client"` depending on `process.server` and `process.client`.

## Implementation

-

[2022-08-04 20:06] RARNE12 commented on #1614
@obulat , @rarne12 and @kickeyhickey would like to continue working on these issues. @kickeyhickey and I worked on issue #1588, which is waiting for your final review. We can work on issue #1615-1617. We see we needed to style the headers, should we do our best to match with Tailwind CSS utility classes, or do you have any specific any style recommendations you want us to use? Thank you in a advan

[2022-08-05 09:20] obulat commented on #1614
@RARNE12, thank you for your contributions!
You can start working on #1615 and #1616 (#1617 was assigned a couple of days ago).

After changing the heading level, you would need to update the styles to match the [Figma mock-ups](https://www.figma.com/file/w60dl1XPUvSaRncv1Utmnb/Audio-Release?node-id=133%3A6869). Do note that the mobile styles are different from the desktop styles, so you would use

[2022-08-05 12:47] #1558 closed

[2022-08-05 12:50] obulat opened #1622 "Rename `_size` variable to not start with an underscore"
## Description

While trying to update to Vue 2.7 (and the newest version of Nuxt composition API) I saw a warning that prevents `_size` property from being used:

https://github.com/WordPress/openverse-frontend/blob/c4a117a11ddda2d0085506c88284db43e2784223/src/components/VAudioTrack/VAudioTrack.vue#L14

There are the following error messages:
[code]

## Reproduction

This happens in my local bran

[2022-08-05 13:19] sarayourfriend opened #1623 "Rollback script only looks at most recent 10 versions of the frontend image"
## Description

If you try to rollback to a valid version that is not on the first page of results the rollback workflow will fail: https://github.com/WordPress/openverse-frontend/actions/runs/2803805784

## Reproduction

1.  Dispatch the rollback workflow to a valid version that is not on the first page of results from the package version endpoint
2.  See the failure from the link in the descript

[2022-08-05 15:35] sarayourfriend opened #1625 "Remove Sentry DSN from repository"
## Problem

If someone configures their local environment correctly, they can send scary (and hard to discern) errors to Sentry that we can easily mistake for production issues. It's not likely that anyone is doing this intentionally (what do they stand to gain, other than trolling, I suppose) but it is easy to do accidentally.

## Description

Let's just remove the Sentry DSN from the repository.

[2022-08-05 18:18] RARNE12 commented on #1615
Hi @obulat, just to clarify, do you want us to change h4 to h1 with the appropriate Tailwinds CSS styling class?
cc, @kickeyhickey

[2022-08-05 18:20] RARNE12 commented on #1616
@obulat , @rarne12 and @kickeyhickey will start working on this issue. You can assign this task to me. Have a good day.

[2022-08-05 18:32] obulat opened #1627 "Convert `active-media` to an options store (from setup store)"
## Problem

In the update to Vue 2.7, the `active-media` raised errors saying we cannot set a `readonly` value. Converting the `active-media` store to an options store solved the errors. In any case, it is better to use `options` store for consistency with other stores.

## Description

Convert `active-media` Pinia store to an options store.

## Implementation

- [x] 🙋 I would be interested in imp

[2022-08-05 18:52] panchovm commented on #1560
Neither as on storybook nor as on staging. Here you can see [the Figma component](https://www.figma.com/file/GIIQ4sDbaToCfFQyKMvzr8/Openverse-Design-Library?node-id=2244%3A10252), the smallest box versions. In `hover` and `focus` states, the element shows the CC license icons only.

[2022-08-05 19:24] RARNE12 commented on #1616
@obulat I am unable to find the correct file this heading is located at. Can you please tell me what parent component has the file with this header tag (Single Results) tag is located? Please advise, I appreciate any assistance you can offer. Thank you in advance.
cc: @kickeyhickey

[2022-08-08 10:16] obulat commented on #1616
@RARNE12, I think you couldn't find the file because the `audio` detail page is a `page`, not a `component`. So, you would need to look at the `pages` directory: `src/pages/audio/_id.vue`.

This file doesn't have any headings, though, so you will need to look at the child components there: `src/components/VMediaInfo/VMediaReuse.vue`, `src/components/VAudioDetails/VAudioDetails.vue` and `src/compon

[2022-08-08 11:05] sarayourfriend commented on #1591
An additional benefit to this change is that we would be able to actually use Sentry to catch Axios errors more easily. Right now we log and we throw some errors that are essentially meaningless and destroy all useful debugging context: https://github.com/WordPress/openverse-frontend/issues/1604

If we use a Nuxt context-contained Axios instance with appropriate helper functions attached, then we

[2022-08-08 15:17] #1584 closed

[2022-08-08 15:21] obulat commented on #1615
@RARNE12, on this page, the heading should be replaced with a paragraph (`<p>`), with the appropriate Tailwind styling classes (both for mobile and for larger screens).

[2022-08-08 15:21] zackkrida opened #1630 ""PR Closed" Workflow fails on community PRs"
## Description

The workflow `github/workflows/pr_closed.yml` fails on community member PRs.

See:

- https://github.com/WordPress/openverse-frontend/pull/1577
- https://github.com/WordPress/openverse-frontend/pull/1607

## Reproduction

1.
2.
3.
4. See error.

## Screenshots

## Environment

 - Device:
 - OS:
 - Browser:
 - Version:
 - Other info:

## Additional context

## Resolution

- [ ] 🙋 I

[2022-08-08 19:48] #1588 closed

[2022-08-08 20:06] zackkrida opened #1631 "Add permalinks to the deployment workflow notifications"
It would be nice if the deployment Slack notifications contained links to the actual deployed sites for easy reviewing. We might have to manually maintain references to the urls, however, which would be a tad annoying.

[2022-08-08 20:11] AetherUnbound commented on #1077
The original Sentry alert seems to have disappeared, but a new alert was made here: https://sentry.io/share/issue/336fc229d5fb4428bbdc73ded9c0b581/

[2022-08-08 20:28] AetherUnbound opened #1632 "UnhandledRejection on Safari"
## Sentry link

https://sentry.io/share/issue/b2faf37667b842d58c0a5f63d702475d/

## Description

It appears that we are receiving an `UnhandledRejection` with the body `Non-Error promise rejection captured with value: Not implemented on this platform`. This appears to happen exclusively on the Mac version of Safari based on the tags, and mostly on the homepage.

## Reproduction

I am unable to rep

[2022-08-08 20:48] AetherUnbound opened #1633 "`window.webkit.messageHandlers` access errors prior to Sentry initialization"
## Sentry link

https://sentry.io/share/issue/a8fccaf124ba4bf5a6b7fe8a9d667743/

## Description

We're observing errors with `window.webkit.messageHandlers` access prior to Sentry initialization on iOS/Mac devices.

I'm not sure how to interpret the information provided her, but it looks like Sentry has some advice on this:

https://github.com/getsentry/sentry-javascript/issues/3040

## Reproducti

[2022-08-08 21:21] RARNE12 commented on #1616
@obulat, thank you for your quick response and suggestions. @kickeyhickey and I will start working on it at our earliest. Have a great day.

[2022-08-08 21:21] RARNE12 commented on #1615
@obulat, thank you for your quick response and suggestions. @kickeyhickey and I will start working on it at our earliest. Have a great day.

[2022-08-09 15:05] obulat opened #1634 "Use `v-deep` correctly"
## Problem

`v-deep` was previously used as a combinator selector (i.e., it was written before another CSS selector. Now, it was converted to a [pseudo-class](https://vuejs.org/api/sfc-css-features.html#scoped-css).

## Description

In `VErrorImage`, replace the `::v-deep some-selector` declarations with `::v-deep(some-selector)` style declarations.

## Implementation

- [x] 🙋 I would be intereste

[2022-08-09 15:17] #1622 closed

[2022-08-09 17:42] obulat opened #1637 "Playwright CI does not fail when Playwright fails with status 1"
## Description

When the Playwright tests fail in CI, the container exits with code 1, but the CI still passes.
Here's a link to such a run:
https://github.com/WordPress/openverse-frontend/runs/7751696961?check_suite_focus=true

<details>
<summary>CI logs</summary>
[code]
</details>

## Resolution

- [ ] 🙋 I would be interested in resolving this bug.

[2022-08-09 18:07] #1623 closed

[2022-08-09 19:14] ramadanomar commented on #1618
#1638

[2022-08-11 12:47] sarayourfriend opened #1641 "Switch to or add `pre-commit` to allow for syncing lint configuration across repositories."
## Problem

We currently use `husky` for the pre-commit hook in the frontend repository. If we switched to (or added) `pre-commit`, it would allow us to sync all linting rules that are relevant to multiple repositories across all repos. It would also allow easily adding JavaScript or Python to a repo that doesn't have it yet without having to also fiddle with this devex stuff to get linting workin

[2022-08-11 15:17] Jbudd512 commented on #1615
@obulat Hello, I'm working with @RARNE12 and @kickeyhickey on this ticket. We worked on this yesterday and I'm pushing it up for review. Please let us know if these changes are good.

[2022-08-11 15:17] Jbudd512 commented on #1615
Pull request link: https://github.com/WordPress/openverse-frontend/pull/1647

[2022-08-11 15:19] #1637 closed

[2022-08-11 16:01] ramadanomar commented on #1436
I would be interested in resolving this bug.

[2022-08-11 16:03] ramadanomar commented on #887
I would be interested in resolving this bug.

[2022-08-11 16:06] ramadanomar commented on #1610
I would be interested in resolving this bug.

[2022-08-11 16:09] ramadanomar commented on #1327
I would be interested in resolving this bug.

[2022-08-11 16:26] sarayourfriend commented on #1327
@ramadanomar thanks, I've assigned the issue to you. Feel free to ping if you need any help.

[2022-08-11 16:26] sarayourfriend commented on #1610
I've assigned the issue to you @ramadanomar, thanks.

[2022-08-11 16:27] sarayourfriend commented on #887
The issue's assigned to you @ramadanomar, thank you.

[2022-08-11 18:29] krysal commented on #1436
@ramadanomar a PR is welcome. Thanks! I assigned it to you.

[2022-08-11 18:37] zackkrida opened #1648 "Remove page linking to broken CC Search browser extension"
The browser extension page links off to the broken and unusable CC Search browser extension, which began failing once the the CC Search API began redirecting to Openverse in December. We should remove this page entirely until we've either reevaluated our interest in maintaining the browser extension or made updates to it, along with publishing our own version.

[2022-08-11 19:33] krysal opened #1650 "Disable Renovate bot to run on forks"
## Description

A contributor communicated receiving an influx of emails of failed Renovate tasks, so because of this we want to explicitly disable it on forks, although the [docs](https://docs.renovatebot.com/configuration-options/#includeforks) say that should be the default behavior.

## Additional context
[Slack thread](https://wordpress.slack.com/archives/C02012JB00N/p1660208114397979) where

[2022-08-11 19:34] ramadanomar commented on #887
Just a quick question: Wouldn't it be better to require aria-label as a prop for VButton component as VIConButton is just a VButton with a VIcon. Shouldn't all buttons have an aria label to improve accesibility?

This is how VIconButton template looks like
`<template>
  <VButton
    v-bind="buttonProps"
    size="disabled"
    class="icon-button flex flex-shrink-0 items-center justify-center borde

[2022-08-11 20:34] sarayourfriend commented on #887
That's a good question. As far as I understand it, `aria-label` is redundant on a button that has descriptive text. A screen reader will pick and read only one or the other, not both, so they'll need to match (and be sensible) anyway, for a normal button.

The reason it's _required_ for an icon button is because the icon is not interpretable by the screen reader.

If you have a different understan

[2022-08-11 20:41] #1625 closed

[2022-08-11 20:41] #1650 closed

[2022-08-12 04:53] obulat commented on #1615
@Jbudd512, Thank you for your PR! If you add `Fixes: #<issue number>` to your PR's description, it links it to this issue automatically :) I will be reviewing your PR soon.

[2022-08-12 05:37] obulat commented on #964
This issue was solved in #1590.

[2022-08-12 05:37] #964 closed

[2022-08-12 05:44] obulat opened #1654 "Lint:fix does not work"
## Description

Lint:fix script from `package.json` does not work as expected.

## Reproduction

1. Add some error that needs to be fixed. You can, for example, change the order of the Tailwind classes.
2. Run `pnpm lint:fix`
3. At the end, you will see an warning that `No files match the --fix pattern`

## Resolution

- [ ] 🙋 I would be interested in resolving this bug.

[2022-08-12 09:41] ramadanomar commented on #1327
I was able to reproduce this bug last night using Chromium on Ubuntu but fail to reproduce it on my laptop (Macbook). Also more elements were focusable on Chromium than on Safari.

[See slack for recording.](https://wordpress.slack.com/archives/C02012JB00N/p1660297296896499)

[2022-08-12 10:38] sarayourfriend commented on #1327
Can you check that you've got the "keyboard navigation" feature enabled in macOS? It behaves strangely when this is not enabled: https://www.a11yproject.com/posts/macos-browser-keyboard-navigation/

[2022-08-12 11:13] sarayourfriend opened #1656 "Attribution box does not show for some results when navigating to them from search results page"
## Description

If you visit https://search-production.openverse.engineering/image/3d96348f-5b9f-4ce7-8854-8480fa3bf1a0 from the search results page (it's on the first page of "dog" + "cc0") the attribution box will not appear.

## Reproduction

1.  Visit https://search-production.openverse.engineering/search/?q=dog&license=cc0
2.  Find the result linked above (it's the second image result at the

[2022-08-12 12:32] dhruvkb opened #1658 "Prettier works differently for directory and single file"
## Description

Prettier can be run in two ways.
- `pnpm lint` which runs Prettier against the entire codebase.
- `lint-staged` which runs Prettier selectively against staged files.

Due to some reason (yet to be determined), the behaviour of Prettier is different in both cases, which means files which pass locally may fail the workflow on GitHub and those that pass the workflow on GitHub may fail

[2022-08-12 12:50] sarayourfriend commented on #1656
Another example: https://wordpress.org/openverse/image/28dae73a-0a61-4585-a25a-7389f4b0bf77, search for "music" + "cc0" and it's on the first page of image results.

[2022-08-12 15:39] obulat commented on #1658
I tried looking into it today and got nowhere, unfortunately.

What I wonder is this: [Prettier docs](https://prettier.io/docs/en/integrating-with-linters.html#notes) say that `eslint-plugin-prettier` is not a good solution anymore, and it was useful when Prettier was very new.

I tried removing it thinking maybe it could be a quick fix, and got a lot of [vue/multiline-html-element-content-newline

[2022-08-12 17:46] dhruvkb commented on #1658
Same @obulat. This issue seems so simple on the surface so I too ended up putting in a disproportionate amount of time without finding the cause.

While https://github.com/prettier/eslint-plugin-prettier is not recommended, I think https://github.com/prettier/eslint-config-prettier should still be used to disable ESLint rules that can conflict with Prettier's choices.

[2022-08-13 03:26] krysal opened #1660 "Group text styles in custom classes"
## Problem

The text styles defined by @panchovm in mockups normally involve more than a `font-size` and we find ourselves often missing other properties like `font-weight` and `line-height`. We can simplify the work of applying these styles correctly (and making future global modifications) by grouping these styles in simple CSS classes or (maybe even [adding custom Tailwind utilities](https://ta

[2022-08-13 21:44] ramadanomar opened #1662 "Openverse Handbook Broken Link"
## Description

The handbook hyperlink under the banner leads you to a page that doesn't exist. I already created an issue on the openverse-catalog repo but it applies to all openverse repos. Don't know if i should create an issue on only one repo but the number is #661 for reference.

## Screenshots

![Brokenlink](https://user-images.githubusercontent.com/55840806/184511644-604cbd97-b1f9-415e-9de

[2022-08-15 14:37] zackkrida opened #1666 "Add `max_memory_restart` to PM2 configuration"
## Problem

We currently have a memory leak in production. PM2, the process manager used in the production frontend, supports a `max_memory_restart` value in the `ecosystem.config.js` file which allows the application to automatically restart whenever a certain memory threshold is reached.

This field uses a measured unit, not a percentage of available memory, so will need to be tailed to our hard

[2022-08-15 14:45] #1662 closed

[2022-08-15 14:50] sarayourfriend commented on #1666
@zackkrida because we'd have to cut a new release to get this out, it might make more sense to pass it as an argument to pm2 in the ECS task definition configuration. This would allow us to easily tweak it as well if we discovered the value needs to be changed.

[2022-08-15 18:25] panchovm opened #1667 "Adding a design issue template"
## Problem
For contributors wanting to propose design changes, there is no clear way to share their ideas from the issues template list. The existing templates cover discussion and implementation issues but leave behind the ideation and iteration stage related to design.

## Description
Since we decided to separate design from dev issues to record design history and steer design discussions throug

[2022-08-15 21:49] panchovm opened #1669 "New header component"
## Problem
Since Openverse redesign, the current header was made to ease browsing content and have quick access to content actions and update the results. During the first weeks of the release, we noticed an improvement in shifting to this new version from the CC-Search era.

However, as time passed by, we encountered three main issues with the navigational component: usability, internationalizati

[2022-08-15 23:40] ramadanomar commented on #1658
Hey, i've been spending quite a lot of time on this issue as well. Forcing a newer version of prettier and eslint in package.json appears to fix the problem but i am not sure on how to test if other problems are created in the process.

[2022-08-16 09:41] obulat commented on #1658
I'm afraid that the solution to this issue is buried somewhere in this issue's comments: https://github.com/prettier/prettier/issues/10918 . I tried debugging the way Prettier reformats the code, and got to the Vue HTML parser changing the order of the class names, but couldn't figure out why it's doing that.

We can either remove the tailwind plugin or wait until it plays well with Vue.

I tried

[2022-08-16 10:08] ramadanomar commented on #1658
Can't we just add a  ` ` tag for the moment with the mention that it produces different results on different machines?

[2022-08-16 10:09] ramadanomar commented on #1658
[code]
Something like this?

[2022-08-16 14:22] #1654 closed

[2022-08-16 15:32] obulat commented on #1658
Considering that we haven't found a way of actually fixing this issue, and we have a workaround that allows us to keep committing the code, I have lowered the priority to medium. Hopefully, this will be solved in the future, but in the meantime, we can use the solution from #1673.

[2022-08-16 15:34] ramadanomar commented on #1583
I would be interested in resolving this bug.

[2022-08-16 15:48] zackkrida opened #1674 "Improve Tailwind Documentation"
## Problem

Tailwind is a large part of the frontend developer experience and requires knowledge of a bespoke set of custom css classes.

## Description

We should improve documentation about Tailwind, by wither adding a designated Tailwind section to our CONTRIBUTING document or our README. I think this is important enough where I might prefer the later. Some suggestions for that section are:

-

[2022-08-16 16:11] zackkrida commented on #1585
@panchovm I'm concerned about hiding this feature form our default search view.

What do you think if we showed multiple dropdowns, one for each content type, or a single dropdown grouped by "image", "audio" and so on?

[2022-08-16 18:55] zackkrida opened #1676 "Remove the `latest` tagging of builds"
## Problem

The tag `latest` we apply to our builds is inaccurate and misleading. We should remove it from future builds and possibly delete the tag entirely.

https://github.com/WordPress/openverse-frontend/blob/f60296e249270e52b59d221d59d5ac06b235ccc9/.github/actions/build/action.yml#L52

## Description

## Alternatives

## Additional context

## Implementation

- [ ] 🙋 I would be interested in

[2022-08-16 19:17] zackkrida opened #1677 "Switch to `ENTRYPOINT` instead of `CMD` in our Dockerfile"
## Description

We would like to switch to using `ENTRYPOINT` instead of `CMD` in our Dockerfile because entrypoint accepts arguments without also requiring you to replace the entire command. [This article](https://aws.amazon.com/blogs/opensource/demystifying-entrypoint-cmd-docker/) explains the difference between the two well and makes recommendations:

## Reproduction

1.
2.
3.
4. See error.

##

[2022-08-16 23:34] stacimc opened #1680 "Unsupported media type not handled when playing audio"
## Sentry link

https://sentry.io/share/issue/48703a876a6445429029dda4f1b4cbea/

## Description

Error message: `NotSupportedError: The operation is not supported`

This error is being thrown for certain audio tracks when you click the Play button on the result _from the search results page._ I've been able to reproduce on Mobile Safari

## Reproduction

1. On mobile Safari, search `https://search

[2022-08-16 23:40] zackkrida commented on #1680
I was just noticing this as well, I think it's related to the surge of new Jamendo tracks. I can replicate in desktop Chrome.

The first two tracks here are jamendo:

https://search-production.openverse.engineering/search/audio?q=transformation

Attempting to play one throws an error that borks _all_ audio players on the page and keeps the interacted-with track in a permanent loading state:

![Cle

[2022-08-16 23:44] stacimc commented on #1680
In the example steps I included in the PR description, I think I noticed another bug as well: if you click play on the _third_ result in those search results, you'll see the `This audio format is not supported by your browser` message, but the track actually _does_ play.

[2022-08-16 23:47] zackkrida commented on #1680
Hm, for the third track (Robotic Transformer 4), I'm able to play it without issue if it's the first thing I press play on.

If I've already clicked play on one of the first two tracks, _all_ audio tracks are permanently hit with the `This audio format is not supported by your browser` but the third track will still play correctly.

[2022-08-16 23:49] stacimc commented on #1680
Ah, not reading closely enough -- I think you're right!

[2022-08-16 23:49] zackkrida commented on #1677
Lowering the priority on this as it would be nice to have and is quite simple but is potentially no longer relevant to another problem I was trying to address with this issue.

[2022-08-17 00:14] stacimc commented on #1680
I'm going to close this one as a duplicate of the original issue https://github.com/WordPress/openverse-frontend/issues/1605, which I unfortunately did not notice.

[2022-08-17 00:14] #1680 closed

[2022-08-17 00:15] zackkrida commented on #1605
This problem occurs when an audio src is invalid. We need to start handling exceptions on the `.play()` audio event and, in the case of an error, figure out how to proceed. We might want to at a minimum stop the audio track, clear the active media, and flash an error message, perhaps using the new #1561 component.

[2022-08-17 00:16] zackkrida commented on #1605
There is more detail in #1680, but after adding many new Jamendo records that don't appear to support audio streaming this problem is occurring much more often, on nearly every search.

[2022-08-17 00:26] zackkrida commented on #1605
We're seeing this because of this issue:

Jamendo urls are sending out CORB errors Cross-Origin Read Blocking (CORB) blocked cross-origin response https://prod-1.storage.jamendo.com/download/track/176092/mp32 with MIME type text/html. See https://www.chromestatus.com/feature/5629709824032768 for more details. which causes an unhandled exception when we try to play an audio track.

Regardless of th

[2022-08-17 00:37] sarayourfriend commented on #1605
The error handling is recommended in #1600 as well.

[2022-08-17 00:56] zackkrida commented on #1600
Noting that this also impacts audio files that are invalid, not just the condition identified in reproduction step 2.

[2022-08-17 01:22] zackkrida opened #1681 "Remove Jamendo seek notices and enable seeking in blink browsers"
## Problem

We now use MP32s from Jamendo and an endpoint which supports the correct headers for streaming audio. We can remove the current logic and related notice which blocks seeking of Jamendo tracks in blink-based browsers.

## Description

## Alternatives

## Additional context

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-17 18:32] #1676 closed

[2022-08-17 19:01] #1617 closed

[2022-08-17 19:48] stacimc opened #1687 "`DataCloneError` raised on search in Safari"
## Sentry link

https://sentry.io/share/issue/1e4d506348ab4ec79ab36a11d8d55a0f/

## Description

`DataCloneError: The object can not be cloned` is being raised by `postMessage` after a small number of searches. There are only 7 events in the last four months, all on Safari or Mobile Safari.

I'm unable to reproduce this using any of the searches in Sentry. The exception is raised _after_ a success

[2022-08-17 20:43] zackkrida opened #1689 "Visual Regression Tests Failing CI related to content pages"
## Description

Our visual regression Playwright tests are failing. It appears to be related to the content pages and possibly recent text updates. Here's the most recent failure:

https://github.com/WordPress/openverse-frontend/runs/7885820422?check_suite_focus=true

Marking as `high` because this blocks merging on other PRs and stalls work.

I attempted to fix this with `npm test:playwright visu

[2022-08-18 05:01] dhruvkb commented on #1656
Here is the cause of the issue:

1. The API does not send the `license_url` field for some results (^the ones that present the above issue) in the [search results endpoint](https://api.openverse.engineering/v1/images/?q=dog&license=cc0).

![image](https://user-images.githubusercontent.com/16580576/185296305-4bf7c519-64ec-456f-b1c2-12b0e76fff8a.png)

2. `VMediaReuse` only shows the attribution box

[2022-08-18 10:01] #1689 closed

[2022-08-18 10:13] #1610 closed

[2022-08-18 10:32] #1436 closed

[2022-08-18 10:48] obulat opened #1694 "Some dependencies using React classes make TypeScriptification impossible"
## Problem

Some of our dependencies use React classes, which pollute the types so that it's impossible to use both in the same project. The main culprit we know of is Reakit. However, there might be others (Storybook?) that make the development experience in VSCode difficult. The template `class`es are often underlined because Volar/Vetur expect the React-style types for classes instead of the Vu

[2022-08-18 14:05] obulat commented on #1618
Closing as fixed by #1644. This issue wasn't closed automatically because that PR was tackling two issues at once.

[2022-08-18 14:05] #1618 closed

[2022-08-18 14:13] obulat opened #1698 "Correct heading order for single image result page"
## Problem

The order of the headings on the page is important for screen reader users. It helps them navigate the page more effectively [^1]. The headings on the single image result page (https://wordpress.org/openverse/image/da5cb478-c093-4d62-b721-cda18797e3fb) skip levels and go from `<h1>` to `<h3>` and `<h5>`:

<img width="709" alt="Screen Shot 2022-08-18 at 5 10 19 PM" src="https://user-ima

[2022-08-18 14:15] panchovm opened #1699 "Showing the audio results link on results page when there are no results"
## Description
When you search something that brings no audio results, the results page still shows the "see all audio" link. Like in [this example](https://wordpress.org/openverse/search/?q=vanagon).

## Reproduction
1. Search for "vanagon"
2. Notice has the "see all audio" link says "no results".
3. Click on it.
4. See how the page shows no results.

## Screenshots
<img width="1059" alt="CleanSh

[2022-08-18 15:45] #1648 closed

[2022-08-18 16:22] #1616 closed

[2022-08-18 16:36] #1698 closed

[2022-08-18 17:14] zackkrida commented on #1583
@ramadanomar here's some context; this has to be fixed all the way inside of a WordPress theme inside of a separate repo, here:

https://github.com/WordPress/wordpress.org/blob/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-openverse/css/openverse.css#L5

Which will also need to factor in the `--wp-global-header-height` variable now.

[2022-08-18 17:16] #1561 closed

[2022-08-18 18:44] kickeyhickey commented on #973
@obulat  I would be interested in implementing this feature.

[2022-08-18 18:46] RARNE12 commented on #1361
@obulat , I am interested in working on this issue.

[2022-08-18 19:16] sarayourfriend commented on #973
Great, @kickeyhickey :slightly_smiling_face: The issue is assigned to you. Let us know if you run into any road blocks :rocket:

[2022-08-18 20:38] stacimc opened #1700 "`TypeMismatchError` on search in Edge"
## Sentry link

https://sentry.io/share/issue/6d1daca3ad584cffbd038f65a3396029/

## Description

This is a rare exception thrown exclusively in Edge 15.063/Edge Mobile 15.15254:

`Error: TypeMismatchError: TypeMismatchError`

Unfortunately there aren't many more details available so I'm not sure where to start with this one.

## Reproduction

Unable to reproduce in browserstack.

[2022-08-18 20:44] panchovm opened #1701 "Copy improvements in the search flow"
## Problem
While reviewing the current search flow, I noticed that is not very clear what is the search engine for and how to interact and use the content found. We can make significant improvements by tweaking some copy areas and make Openverse more precise and consistent.

Starting from the homepage, the terms “items” and “reuse” do not explain themselves in the context of having Openverse in th

[2022-08-18 21:23] stacimc opened #1702 "`Object Not Found Matching Id` unhandled error"
## Sentry link

https://sentry.io/share/issue/30550627d9004513ae496fa41e81774d/

## Description

We've gotten ~700 of these over the last seven months:
[code]
(for varying values of 'id'). It appears to be happening for the most part on single image result pages, but there is no further information.

All events are on Chrome on Windows 10.

This is either intermittent or just rare, and has been ig

[2022-08-18 21:46] stacimc opened #1703 "`Unable to get property 'name' of undefined or null reference` in useMatchRoute on Edge"
## Sentry link

https://sentry.io/share/issue/0e946a5351ee44aab56a9bdc699da1ec/

## Description

`Unable to get property 'name' of undefined or null reference` is being raised at The error is being raised here: https://github.com/WordPress/openverse-frontend/blob/main/src/composables/use-match-routes.ts#L29 of `useMatchRoute`:

[code]

The errors are all on Edge, including the potentially related

[2022-08-19 11:13] #1681 closed

[2022-08-19 11:16] #1615 closed

[2022-08-19 11:23] obulat commented on #1614
@RARNE12, @kickeyhickey, @Jbudd512, @ramadanomar, thank you all so much for working on these issues! All of the linked issues have been resolved 🎉

[2022-08-19 11:23] #1614 closed

[2022-08-19 13:40] panchovm commented on #1585
Why are you concerned? I think that showing the metasearch forces this layout unnecessarily. The external sources list is for visitors not finding what they want, and that makes more sense doing it on the content type result after loading several results.

I am curious to hear other thoughts.

[2022-08-19 14:34] dhruvkb commented on #1701
## Homepage

The use of Discover over Browse is good. I would, however, refrain from mentioning media types like this because it can get cumbersome as more media types are added. Also the line break "600 million images" / "and audio" makes it seem like (600M images) + (audio). I feel like "openly-licensed works" or "creations" would be better instead of "images and audio".

## Single result

The a

[2022-08-19 16:50] ramadanomar commented on #1585
![nometasearch](https://user-images.githubusercontent.com/55840806/185667955-3cd3e2b9-1442-4dd0-9bbe-c82389e8053a.png)
For further context, this is how it would look if we removed the metasearch on <all> searches. I don't think it disturbs anyone, especially because it is located after the results.

[2022-08-19 16:52] #1694 closed

[2022-08-19 16:53] ramadanomar commented on #1585
I agree with @zackkrida that we should add a more generic search text.
Currently we have it hard coded to display images for all content.
[code]

[2022-08-19 17:17] sarayourfriend commented on #1701
Additional benefit here is not having to change that when we eventually introduce additional types of media.

+1

[2022-08-19 17:35] obulat commented on #962
Closing this issue because `use-scroll.js` is going to be removed in #1705, and `use-window-scroll.ts` that is used instead is already using TypeScript.

[2022-08-19 17:35] #962 closed

[2022-08-19 19:12] panchovm commented on #1701
Good points @dhruvkb

I wonder if we can find a single term that includes all content types. I agree that "image and audio" has a short lifespan when we add more types, but naming all content types also becomes problematic in the long run due to its extension. The main point of this proposal is to be straightforward on a page where we introduce Openverse value.

I would like to work on redesigning

[2022-08-19 19:21] obulat opened #1708 "Media don't have all the details when opened from related media section"
## Description

When you open a media item by clicking on its link in the related media section, you don't get some of the information. If you reload, you can get more data for the same image.

This is caused by the fact that API's search endpoint returns fewer data per each media item than the detail endpoint. We will need to set the existing item but also call `fetchItem` and update the informat

[2022-08-19 19:40] ramadanomar commented on #1583
I tried my best to get node-sass to run on my local machine but it failed.[ The fix should be pretty simple tho, i made a PR.](https://github.com/WordPress/wordpress.org/pull/93)

[2022-08-19 21:07] sarayourfriend opened #1709 "Add `SENTRY_RELEASE` to the Docker image environment when built"
## Problem

@krysal pointed out that Sentry consumes some things automatically from the environment. SENTRY_ENVIRONMENT for example, which we set in the ECS task definition. SENTRY_RELEASE is another one and one we could easily set in the Docker image so that we get better problem timelines.

## Description

Add the SENTRY_RELEASE environment variable to the image. You may need to add a build arg

[2022-08-20 00:34] ramadanomar opened #1711 "Improvements to README.md"
## Problem
A lot of our utility tools are buried in contributor handbook and past issues. This change looks to improve by addind a new Frontend Component Section and adding some more details to the Technology section
## Implementation

- [x] 🙋 I would be interested in implementing this feature.

[2022-08-20 12:00] obulat opened #1714 "Home link should have an accessible name"
## Problem

Currently, the home link has accessible name only on the home page of size `md` and above:
https://github.com/WordPress/openverse-frontend/blob/190d631987449a5417ac80241c53dd9b1ca0d973/src/pages/index.vue#L16-L22

In the header has no accessible name. Instead of saying the home page, Voice Over reads out all of the URL.
<img width="622" alt="Screen Shot 2022-08-20 at 2 42 27 PM" src="h

[2022-08-22 04:06] #1656 closed

[2022-08-22 04:07] obulat opened #1715 "Replace @nuxtjs/svg `.svg?inline` components with native `svg`s"
## Problem

`@nuxtjs/svg` provides a convenient way of creating a component out of any SVG file. However, the components it creates raise TS errors. The module also does not support Vite/Nuxt3.

## Description

We should replace the inline components with SVG elements.

## Alternatives

Keep using the inline components. That would require fixing types, and adding Vite/Nuxt3 support to the module i

[2022-08-22 04:10] obulat commented on #546
This issue has been resolved, and we update locale files automatically or not keep them in the CI and re-create them on every build.

[2022-08-22 04:10] #546 closed

[2022-08-22 14:32] sarayourfriend opened #1718 "Update caniuse-lite"
## Problem

This appears in the build logs:

[code]

## Description

Run the command from the warning and open a PR with the updated files.

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-22 17:10] #1078 closed

[2022-08-22 17:10] #615 closed

[2022-08-22 17:10] #1417 closed

[2022-08-22 19:11] krysal opened #1719 "Some images don't have "Related images" but the header for the section is still displayed"
## Problem

One of our current featured images (the one shown on the homepage) appear to have no related images after some modifications in the API endpoint (WordPress/openverse-api#865). This is likely happening with more images, so will be better to hide the header when the section is empty.

The details page of this featured image:
https://search-production.openverse.engineering/image/648b566f-

[2022-08-22 21:31] zackkrida commented on #1583
Ah,I made a mistake in explaining this, I meant to say that the `var(--wp-admin--admin-bar--height)` variable also needs to be included.

[2022-08-22 21:38] zackkrida commented on #1719
Just to confirm, there are definitely no related images returned by the API endpoint, interesting:

https://api.openverse.engineering/v1/images/648b566f-0228-4819-83d5-8f1d324ec06d/related/

[2022-08-23 08:40] #1579 closed

[2022-08-23 11:27] shreyanshmalvya commented on #1718
Hey, I just went over the error and the npm command
[code]
is the perfect solution for this, can I take up the issue?

[2022-08-23 12:15] obulat commented on #1718
Sure, @shreyanshmalvya! I'm assigning this issue to you.

[2022-08-23 12:20] obulat commented on #1719
I wonder if it's cache related. Checking now, I can see both the frontend and the API results for this link.

[2022-08-23 13:17] #1627 closed

[2022-08-23 13:18] zackkrida commented on #1719
Ah very strange, I can now as well. I don't think it's the cache though, because I've been testing this by appending unique query strings. Something else may be going on in the API 🤔

[2022-08-23 15:11] #1380 closed

[2022-08-23 15:15] ramadanomar commented on #1674
#1712

[2022-08-23 15:31] zackkrida opened #1722 "Frontend Memory Leak"
Somewhere in our Nuxt application is a memory leak that grows dramatically in correlation with traffic. This can be observed in production but also locally by taking a heap snapshot before and after simulating heavy traffic with a tool like `ab`, `swarm`, or other load testing tools.

[2022-08-23 15:39] #1327 closed

[2022-08-23 15:59] #1714 closed

[2022-08-23 18:49] panchovm commented on #1541
Coming back here to push a conclusion to this discussion.

Sharing my thoughts on one point shared by @zackkrida

I would like to talk about this, especially the use case on desktop and how the global player would work. Nonetheless, we are addressing other core components in the forthcoming releases. With that in mind, this topic can wait until we move out of the beta status and discuss ways of co

[2022-08-23 20:12] panchovm commented on #1585
Not sure if I understood your point @ramadanomar correctly. Are you agree showing or hiding the metasearch section?

[2022-08-23 20:24] panchovm commented on #1660
Thanks for creating this issue.

I was planning to start working on this and come up with a style update proposal. The [current design definitions](https://www.figma.com/file/GIIQ4sDbaToCfFQyKMvzr8/Openverse-Design-Library?node-id=311%3A331) have some inconsistencies when applied to components and other pieces of text.

To tackle this from the design, I will add the `needs design` label.

[2022-08-23 20:26] panchovm commented on #1212
Removing the `needs design` label as #1686 is developing a solution.

[2022-08-23 20:45] #1587 closed

[2022-08-24 00:29] krysal commented on #1541
I like the idea of maintaining our "All content results" view! As long as it remains feasible, given the number of different media types we plan to add.

I don't think it would interfere either, but I suppose that if we click to rotate a second 3D model, then the first one will stop? And will we allow it to rotate arbitrarily with the user mouse + click? It's the most common interaction, but in su

[2022-08-24 06:30] shreyanshmalvya commented on #1181
Hey, I just went over to the discussion. It would be better to update the variant to ```variant= "plain--avoid" ```. Can I take up the issue?

[2022-08-24 08:54] ramadanomar commented on #1674
Issue was resolved by pr #1712!

[2022-08-24 08:54] #1674 closed

[2022-08-24 08:54] ramadanomar commented on #1711
Resolved by #1712 !

[2022-08-24 08:54] #1711 closed

[2022-08-24 11:40] dhruvkb commented on #1181
Sure @shreyanshmalvya! I'll assign it to you.

[2022-08-24 11:42] dhruvkb commented on #1719
In any case, given that there is a possibility that we might have images that are unrelated to anything else, we should add the check to not show the heading unless there is content to go below it.

[2022-08-24 12:13] obulat opened #1725 "Remove event listener in onInvalidate"
## Description

There is a typo in `use-hide-on-click-outside` composable where instead of removing the event listener when cleaning up, we add one more:

https://github.com/WordPress/openverse-frontend/blob/aa5f58685140460414316d962a9a541e3b0e80dd/src/composables/use-hide-on-click-outside.js#L39-L41

## Additional context

I noticed it when auditing the event listeners trying to figure out where

[2022-08-24 13:33] #1341 closed

[2022-08-24 13:36] sarayourfriend opened #1728 "Vue warning about adding reactive properties during runtime"
## Description

Avoid adding reactive properties to a Vue instance or its root $data at runtime - declare it upfront in the data option.
The following warning appears in the console in the development build:

Annoyingly, it does not give us any more information about _where_ this is happening, but it gets logged for me 12 times on the search page for `birds`, so that might be some way of finding a

[2022-08-24 13:51] obulat commented on #1728
There is a similar issue reported about `useFetch`: https://github.com/nuxt/nuxt.js/issues/9590 .  For what it's worth, it might be resolved by updating to Vue 2.7 if it is indeed the same issue I linked to.

[2022-08-24 16:05] obulat opened #1730 "Mobile modals should use the VModal component's functionality"
## Problem

`src/components/VContentSwitcher/VMobileMenuModal.vue` and `src/components/VHeader/VPageMenu/VMobilePageMenu.vue` are currently duplicating the functionality of the `VModal` component.

## Description

The modals should be refactored to use the functionality provided by `VModal`.

## Implementation

- [x] 🙋 I would be interested in implementing this feature.

[2022-08-24 16:05] #1725 closed

[2022-08-24 16:07] sarayourfriend opened #1732 "Add link to staging deployment workflow run on PRs"
## Problem

When you merge a PR it's not obvious where to look to track the deployment progress.

## Description

Let's update the `ghcr.yml` workflow to post a comment on the PR with a link to the staging deployment workflow.

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-24 16:09] sarayourfriend commented on #1728
We don't use `useFetch` anywhere in the app, at least not that I could find, FWIW.

[2022-08-24 16:37] DanSoschin commented on #1701
"media" is a catch-all term that might encompass both images, audio, and potentially other things down the road.

I'd also recommend using "more than" versus "over".

Generally speaking, I do agree that we could enhance the copy on the home page and about page to provide some additional descriptions, explanations, features, benefits, etc. I'd be happy to assist.

[2022-08-24 19:22] #1181 closed

[2022-08-24 20:23] panchovm commented on #1701
"Media" and "more than" sound like a good idea. I will try both.

Thanks for the help. Please drop your thoughts here and I can bring up a new version. This issue is for design iteration ❤️

[2022-08-24 20:48] panchovm commented on #1660
I created this file where I am exploring and testing the styles, but before sharing the approach and some outcomes, I would like to test them online.

How can we mirror the current site and see what components and layouts look like? My first thought was coding them on codepen but for sure there is a better way. It would be great to have a css file or similar and adjust the values to see how everyt

[2022-08-24 22:03] sarayourfriend opened #1735 "PR GHCR builds are adding `main` tag"
## Description

The main tag is being added to GCHR builds from PRs, not just for pushes to `main`.

## Reproduction

1.  Go to this PR workflow run: https://github.com/WordPress/openverse-frontend/runs/8000864384?check_suite_focus=true
2.  Open the `metadata-action` action log and expand the tags
3.  See that the sha and `main` tag are both there. We should just have the `sha` tag, no main.

## A

[2022-08-24 22:05] sarayourfriend commented on #1735
Downgrading this to `medium` actually because we're deploying staging using the specific sha tag now instead of `main`. However, we sometimes redeploy staging using the `main` tag (probably should not do that, maybe another issue to restrict using generic tags would be good OR remove the need to pass a tag to redeploy altogether and have a checkbox to confirm a redeploy is intended and just pull t

[2022-08-24 22:36] sarayourfriend opened #1736 "Add a "Redeploy to current version" checkbox to the Rollback workflow"
## Problem

Right now to redeploy the same version of the frontend, you have to find the currently running version by visiting `/version.json` on the live environment you wish to redeploy. We could probably automate this fairly easily.

## Description

Add a boolean input to the workflow dispatch settings and make the tag not-required. In the first step, check that either the tag is present or the

[2022-08-25 07:15] shreyanshmalvya commented on #1719
Just visited the link given in the issue, but it shows Related Images to me.

![image](https://user-images.githubusercontent.com/80682098/186599814-1f98fc85-3eb8-43bf-af41-58802f2d669b.png)

[2022-08-25 13:17] panchovm commented on #1541
Closing this issue ✨

[2022-08-25 13:17] #1541 closed

[2022-08-25 14:18] krysal commented on #1719
@shreyanshmalvya Yes, it was something that happened for a few moments, we need to find out why does that happen but also to hide the section when there is no related images available.

[2022-08-25 15:42] dhruvkb opened #1737 "Test in `e2e/mobile-menu-spec.ts` is flaky"
## Description

The following test case appears to be flaky:

[code]

## Occurrences

In both occurrences, the test passed in attempt no. 2.

- https://github.com/WordPress/openverse-frontend/actions/runs/2927043708/attempts/1
- https://github.com/WordPress/openverse-frontend/actions/runs/2921645603/attempts/1

## Environment

Since both the failing and passing occurrences are from the same CI env

[2022-08-25 16:54] obulat opened #1738 "Playwright logs are too verbose"
## Description

Currently, it is very difficult to read through the CI Playwright logs because they are too verbose.

1. There are talkback proxy logs for each tape that is found. Unfortunatly, it is not possible to only log the not-found tapes, so all of the tapes are being logged. It is much easier to run the tests with `update_tapes` set to true to see which tapes were added than it is to see w

[2022-08-25 17:00] krysal opened #1739 "Create tooling label for Storybook"
## Description

It would be nice to add a `tooling: storybook` label to this repository so we can track issues for it easily.

Suggested emoji: 🧩

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-25 17:14] krysal opened #1740 "Required component flow to announce audio play errors"
## Problem

While fixing #1605 and similar problems related to failed audio operations, we find a need to communicate these errors to users.

I believe some of these errors will require a more specific approach on a case-by-case basis to make obvious to the user which is the failed track, but here is this ticket to discuss and design the flow.

## Alternatives

I suggested using the message inside

[2022-08-25 17:32] zackkrida opened #1742 "Standardize z-index layers by importing the tailwind config in JS/TS files"
## Problem

We currently use bespoke z-indices in a few places, or manually specify our z-index scale to validate props in a few different files.

## Description

Instead, we should import our tailwind config with something like this:

[code]

That would allow us to access the list of valid z indices.

## Alternatives

## Additional context

## Implementation

- [ ] 🙋 I would be interested in impl

[2022-08-25 18:12] krysal commented on #1738
What I resolved to use locally was to comment out the console.error of the request in `api-token.server.ts` file.

https://github.com/WordPress/openverse-frontend/blob/5f9cecc1530fe230e8eabbb93f4474bd0fe2920c/src/plugins/api-token.server.ts#L101

And also stop the logs from explicit calls to Sentry when is disabled, it's an annoying message too because is not actionable. I'll create a PR for this

[2022-08-25 18:21] krysal opened #1743 "Waveform > Message Storybook story is broken"
## Problem

The waveform component needs an `audioId` to generate the peaks in case they are not provided by the API. This version of the component does not use the peaks but a waveform is always associated with an audio track, so it should have an `audioId` available.

## Reproduction

1. Go to the story's page https://wordpress.github.io/openverse-frontend/?path=/story/components-audio-track-wav

[2022-08-26 04:40] obulat commented on #1280
I think this is caused by the `focus-trap` library, which prevents the default on <kbd>Escape</kbd>.
We can stop `focus-trap` from preventing the default by passing `:escape-deactivates="hideOnEsc"` to it. However, we would need to deactivate the `focus-trap` manually, then.

[2022-08-26 08:38] dhruvkb commented on #1742
Waiting on #1686.

[2022-08-26 08:41] dhruvkb commented on #1739
Done^

[2022-08-26 08:41] #1739 closed

[2022-08-26 09:31] #960 closed

[2022-08-26 09:31] #1212 closed

[2022-08-26 09:34] #1667 closed

[2022-08-26 09:49] dhruvkb commented on #1699
@panchovm what is the ideal UX in this scenario? Would disabling or hiding the "See all audio" button be a good solution?

[2022-08-26 11:39] shreyanshmalvya commented on #1719
@krysal Yes, I am, I even checked out the code to find any errors.

[2022-08-26 13:15] #1743 closed

[2022-08-26 13:59] krysal commented on #1699
I was thinking it should go directly to the images search because that would enable the image filters but showing the "See all audio" button disabled sounds like a good option too, relatively easy to implement and will let the user know that there are no audio results for their search.

[2022-08-26 14:45] zackkrida commented on #1701
"Get this [media]" was recently proposed as a unified piece of copy for the primary CTA on single results. There's a PR for this now: https://github.com/WordPress/openverse-frontend/pull/1741

[2022-08-26 17:12] obulat commented on #1722
The main suspect for the memory leak is the `use-fetch-state` composable, which seems to retain the memory in the computeds. We decided to refactor the stores to simplify the fetch state properties.

[2022-08-26 17:18] obulat commented on #1669
I love the new header design, @panchovm! It is very clean and clear, has all the necessary details but is also much simpler in its layout and implementation.

The mobile version of the menu feels like it's a native app. It also solves the problem of focus order, when on mobile tabbing through the header was in the wrong order.

There are two things I'm not sure about:
- Having the pages menu only

[2022-08-26 17:58] zackkrida commented on #1669
This is so beautiful, and I only have a few questions/comments:

- Big ➕ to having a footer with all the pages listed. I would prefer if we had a menu in the top-level navigation as well, but I'm struggling to see where to put it.
- The design of the searchbar being-full width and containing all other elements is _gorgeous_. I really love it. I wonder if we could keep it that way on desktop by kee

[2022-08-26 19:51] zackkrida opened #1748 "Filter sidebar is empty and frontend is broken on search endpoint SSR loads"
## Description

When making a server-side rendered visit to any of the `/search/` endpoints of the frontend, the page is completely broken, if the filter sidebar was opened on a previous client-side visit.

This was fixed by rendering the sidebar client-side only in #1749 and pushed in https://github.com/WordPress/openverse-frontend/releases/tag/v3.4.6. We'll want to remove the `<ClientOnly>` comp

[2022-08-26 20:46] zackkrida commented on #1669
Also a question, what will the hover/interaction states for the logo and search icons look like. The same as they are now, or different?

[2022-08-26 21:58] zackkrida commented on #1669
One more, how will this look with the single results with their grey backgrounds?

![Screenshot_20220826-175625](https://user-images.githubusercontent.com/6351754/186996154-39187a5d-b3f0-48f0-8fab-d7f0772f99f2.png)

[2022-08-27 07:54] dhruvkb commented on #1748
Reassigning to @obulat because she has already the fix.

[2022-08-27 08:53] #1634 closed

[2022-08-28 05:44] obulat commented on #1742
#1686 has been merged, so it's unblocked now, @dhruvkb .
I just found a note about importing from config on the Tailwind docs[^1]:

[^1]: https://tailwindcss.com/docs/configuration#referencing-in-java-script

[2022-08-28 05:48] obulat commented on #1722
Closing this issue after #1747 (see the memory profiling data in the comment https://github.com/WordPress/openverse-frontend/pull/1747#pullrequestreview-1087355085).  We can always reopen if new leaks are discovered.

[2022-08-28 05:48] #1722 closed

[2022-08-28 22:45] ramadanomar opened #1752 "initialFocus did not return a node"
## Description
While looking into #1737, i found that i occasionally receive `Uncaught Error: `initialFocus` did not return a node` while clicking the mobile filter button repeatedly. Could possibly be the reason of the tests failing

## Reproduction

1. go to https://search-production.openverse.engineering/search/?q=cat
2. enter dev tools and select mobile (responsive mode)
3. you can also edit u

[2022-08-29 04:46] obulat commented on #1752
@ramadanomar, this is a known issue from the upstream dependencies, `focus-trap-vue` and `focus-trap`. The warning about `initialFocus` can be ignored, because Openverse uses its own, more flexible, implementation for managing focus while inside the modal, not the `focus-trap` one.
@sarayourfriend [opened a PR](https://github.com/posva/focus-trap-vue/pull/390) in `focus-trap-vue` repository to fix

[2022-08-29 10:05] ramadanomar commented on #1752
Then shouldn't we catch the error and prevent it from appearing in console?

[2022-08-29 11:11] obulat commented on #1752
Yes, it would be nice to catch it, @ramadanomar. I'm not sure where we can actually catch the `focus-trap` error, though.

[2022-08-29 11:56] ramadanomar commented on #1585
Any update on this issue?

[2022-08-29 14:25] obulat commented on #1701
I love the changes that make the site language simpler!
I think "Discover over 600 million images and audio to use" shouldn't have a period in the end, @panchovm?

It would be nice to have a better link between the sentence in "How to use" that reminds to credit the creator, and the "Credit the creator" tabs, making it clear that users can copy the already-available attribution sentence.

[2022-08-29 14:39] ramadanomar opened #1753 "VHeaderFilter Typescript Conversion"
## Description
The types in VHeaderFilter aren't detected even though they are defined in ~/composables

## Screenshots

![image](https://user-images.githubusercontent.com/55840806/187225556-4d80d5ce-7692-45f9-be55-05dd37aa3a88.png)

## Additional context
Stumbled upon this while trying to figure out why tests results vary depending on the enviroment #1737. This error gets replaced by others if we

[2022-08-29 15:11] zackkrida commented on #1585
My thinking here, @panchovm was that I don't like conditionally showing/hiding pieces of the UI without the user knowing about it.

A similar concern I have is in the filter sidebar. That might be a good example. I plan to make an issue for this today, but I do not like how the filter sidebar has fewer filters on the 'all results' view than the single media type views. Of course, this is necessary

[2022-08-29 15:29] panchovm commented on #1585
I didn't understand this point, but I understand the core of your concern. If we think is useful, then let's tag it with `needs design` to design a solution.

Showing more or fewer filters should not be a concern as far as they relate to the result on the left. I have discussed this several times with other designers when designing the header interaction and tabs for content type/filters. Showing

[2022-08-29 15:40] panchovm commented on #1701
You are right about the period @obulat and that reminds me I forgot to attach the home's last version.

I think we can address this attribution flow with a redesign initiative. It goes beyond the copy, and there is room for improving the flow by showing a more straightforward design.

---

## Home

![Home](https://user-images.githubusercontent.com/895819/187239334-242939dd-f4ae-4e7f-83ff-102b965b8

[2022-08-29 15:50] obulat commented on #1753
Have you run `pnpm install` after checking out the PR (or are you running into these errors on main), @ramadanomar? The version of `vue-tsc` has been updated recently, and different versions produce different type errors.
Also, there are currently several PRs that update the types and modals, it might be better to wait until they land to try to figure out what causes this issue.

[2022-08-29 16:12] ramadanomar commented on #1753
Okay! I'll wait for the new PRs to be merged until continuing with this issue.

[2022-08-29 16:24] zackkrida commented on #1585
I agree with this and definitely do not want to do it. I just want users to know that more filters are available. That's my core concern: if we have features that are only available in certain views, that aren't the default view, how can we make sure users know about them?

I'm not sure I agree with this. I definitely want user data to inform our decisions as much as possible, but there occasions

[2022-08-29 17:52] obulat commented on #1753
I tried looking into it, and it appears to be a VSCode/Volar problem. I don't see these problems in WebStorm, and you don't get errors when you run `pnpm types`.

The problem seems to be that VSCode or Volar are not picking up the `paths` object in the `tsconfig` file, and marking all the aliased paths that start with `~` as not found. If you replace all of the aliased paths with the relative path

[2022-08-29 19:58] obulat opened #1754 "Update Playwright to version ^1.25.0"
## Problem

#1646 updated Playwright version to 1.24. However, the update to the most recent version, 1.25, was impossible due to some problems in rendering Arabic fonts.

## Description

We need to investigate what changed in Playwright version 1.25 that caused the RTL rendering problems. Here is an example snapshot of the wrong Arabic version. Notice the `NUL` signs:

![image](https://user-image

[2022-08-29 20:13] zackkrida commented on #1754
Interesting, this is using our custom webfonts so I wouldn't expect a character rendering issue to be associated with a browser release like this. I wonder if we can:

- Identify the character that isn't rendering
- Check if it works locally/in a browser
- Identify why it would no longer work in Playwright

[2022-08-29 20:24] #1748 closed

[2022-08-29 20:30] obulat commented on #1754
The Arabic letters in the 1.25 snapshots seemed to be more squished into each other, for what it's worth. The letters were the same, mostly.

[2022-08-29 23:05] ramadanomar commented on #1753
I think it's because we don't include it in tsconfig.json

[code]

Adding something like that to `tsconfig.json` fixes the problem but we get some type errors "Type HTMLElement | null " is not assignable. Weird thing is it doesn't fail the pnpm test linting check.

[2022-08-29 23:07] ramadanomar commented on #1753
Nvm it fails when i try to upload a branch.

[2022-08-29 23:18] ramadanomar commented on #1737
This appears to have been fixed by #1751 👍🏻

[2022-08-30 05:53] obulat opened #1756 "Update the homepage description"
## Description

The description below the Openverse logo on the homepage needs to be updated.

The new text is "Discover more than 600 million media to use", and the styles are as follows:
All fonts are Inter, style Regular.
### Desktop
**Subtitle**
Font size: 46px
Line height: 60px
Line height: 130%
Margin-bottom: 16px

**Description**
Font size: 27px
Line height: 35px
Line height: 130%
Margin-bo

[2022-08-30 06:03] obulat opened #1757 "Update the wording in Reuse content (How to use) section"
## Description

We need to replace "Reuse content" title with "How to use" and add a descriptive paragraph to give more context about how to give attribution.

## Screenshots

### Desktop (image)

<img width="610" alt="Screen Shot 2022-08-30 at 9 10 55 AM" src="https://user-images.githubusercontent.com/15233243/187362821-86f4b618-7672-456a-83fa-77ae051d3468.png">

### Mobile (image)
<img width="23

[2022-08-30 06:15] obulat commented on #1701
@panchovm, I've created the issues for "How to use" section and for the Homepage descriptive text, and added the links to them here. We can use this issue to track the overall progress.

[2022-08-30 08:49] obulat commented on #1753
@ramadanomar, I've added `lang="ts"` to the VHeader components to be able to use TypeScript when writing them. I did not add them to `tsconfig` so that they wouldn't raise TypeScript errors (see more details in [this comment](https://github.com/WordPress/openverse-frontend/pull/1472#issuecomment-1155391012)). Normally, this can raise warnings in the IDE, but should not cause errors.

We have vendo

[2022-08-30 10:57] ramadanomar commented on #1753
Oh, i understand. I'll close this issue as it behaves normally then. Lmk if i can help with the typescript conversion

[2022-08-30 10:57] #1753 closed

[2022-08-30 11:42] ramadanomar commented on #1757
A quick question, does this issue contain all of the changes in the copy/text? I think one PR would suffice to include most of the changes (ex. from use this image to Get this image with an icon ) etc.

I'll have a PR ready by today's slack meeting

[2022-08-30 12:35] #1737 closed

[2022-08-30 14:10] #1280 closed

[2022-08-30 14:18] zackkrida opened #1760 "Add unit test for healthcheck middleware"
The new healthcheck added in #1717 needs a simple unit test added.

[2022-08-30 14:34] panchovm commented on #1701
Thanks a lot @obulat that was very smart ❤️

I updated the mockups in [this comment](https://github.com/WordPress/openverse-frontend/issues/1701#issuecomment-1230490187) and [the initial post](https://github.com/WordPress/openverse-frontend/issues/1701#issue-1343626099) so now all texts are correct.

[2022-08-30 15:14] obulat commented on #1757
We try to create small PRs that are easy to test and review, @ramadanomar, whenever possible.
The changes to the 'Get this <media>' are already done in a separate PR, so this issue is specifically about the "How to use" section.

[2022-08-30 16:06] marko-srb commented on #1585
Hi there. My intuitive thoughts are:

Having 'Metasearch' is a good thing.

After researching at Openverse, I'd need additional resources to find the appropriate content. Way to have it, while not overwhelming the user, in my opinion, is:
01. Have a dropdown or hover list of external resources, below the grid.
02. Have that dropdown or hover list only on specific (one type) content results and not

[2022-08-30 16:22] zackkrida commented on #1756
'discover' is definitely better than 'browse' but I feel like this still needs some more discussion. I'm nervous about removing 'image' and 'audio' directly as they're important keywords from an SEO perspective.

In general, I think we need a bit more copy on the homepage, like another sentence below this one with a different fontsize.

I'll share some ideas in a bit!

[2022-08-30 17:32] #1760 closed

[2022-08-30 21:11] zackkrida opened #1764 "Feature source names on search results more prominently"
We currently do not make clear what source a piece of media is from until the user clicks on a single result. Displaying this information on the search result views may have some benefits:

- We're making the user more aware of the available sources
- Users may learn they have preferences of some sources and use the filters more, and get more relevant results
- We're making the sources more promin

[2022-08-31 03:42] obulat commented on #534
Closing this issue because we are going to implement the new version of the header (#1669) that does not have text for the filter button.

[2022-08-31 03:42] #534 closed

[2022-08-31 03:44] obulat commented on #523
This issue has been solved and cannot be reproduced anymore.

[2022-08-31 03:44] #523 closed

[2022-08-31 07:30] jasmussen commented on #1585
Great thoughts all around! Regardless of when/where/how the meta-search tool shows up, I would echo the opportunity to minimize its design to have less prominence, which could in turn make feature more glancable/actionable.

Whether it shows up only on individual filters, or even on the "all content search" I have a less strong opinion about. But it's worth noting that even if it does show up ever

[2022-08-31 14:47] #1537 closed

[2022-08-31 15:35] jvaleriano-keyway commented on #1632
we are having the same issue, do you have some clue?

[2022-08-31 18:57] zackkrida commented on #1756
This is far from perfect but I want to quickly propose adding a second block of text, something like this:

![CleanShot 2022-08-31 at 14 56 53@2x](https://user-images.githubusercontent.com/6351754/187760387-1b9886f7-9eef-433f-b235-f66de531c869.png)

[code]

[2022-08-31 19:04] zackkrida commented on #1756
Maybe "creative works" could be a better term than "media"?

[2022-08-31 19:13] panchovm commented on #1585
The Metasearch is definitely a great feature. It allows visitors to find relevant content when they do not find something in Openverse.

I agree with you @marko-srb that it makes more sense to show the external sites in the single-content results as it is consistent with the content seeking. The dropdown design idea was already designed, but its implementation in #734 is blocked by a shift in the

[2022-08-31 19:15] #1658 closed

[2022-08-31 19:33] zackkrida opened #1765 "'No results page' enhancements"
If a user makes a search that has no results, it might be nice to give the user some suggestions on how to widen the scope of their search. This could be handled in many ways, either with some simple text _or_ with some actual controls that are contextual to the user's search. Some examples of what types of suggestions I'm thinking of are:

- Try enabling other media types
- Enable more licenses
-

[2022-08-31 19:39] panchovm commented on #1197
As the comment above lists the changes necessary for moving out from "additonal sources" to "external sources", I am linking the tickets related to this update:

### Content switcher
- [ ] Replacing "additional types" with "coming soon" in #1665

### Metasearch section
- [ ] Replacing “Try another source” with “Try an external source” in the metasearch section, next to the dropdown menu in #1665

[2022-08-31 20:14] #1708 closed

[2022-08-31 20:19] AetherUnbound commented on #1669
This is such a beautiful design @panchovm 🤩 The rationale & intentions all make sense to me. A couple of thoughts:

- I personally love the dot that appears on the filter page when filters are selected, it makes it clear to me that the filters have been "altered" and are not in their original state. Perhaps there's some other way to represent this beyond a dot (@obulat's point about that meaning t

[2022-08-31 20:43] panchovm commented on #1764
To make users more aware of the available sources, homepage plays a more significant role, in my opinion. There is room to polish the design and convey what sources are connected to Openverse.

I disagree with the learning point on users learning preferences and using the filters more. Openverse design is very intuitive as its design is very similar to stock sites; it speaks for itself. Results la

[2022-08-31 20:59] AetherUnbound commented on #1701
This is a great thing to address! It's a small change that could have a big impact. I like the idea of using something like "creative works" rather than "media" (even though that isn't one word). **Discover more than 600 million creative works to use** or even **Discover more than 600 million creative works available for use** sound a little bit better to me than "media".

[2022-08-31 21:09] zackkrida commented on #1701
I apologize for adding to confusion, I have been thinking through ideas for this homepage copy on the specific homepage issue (where I also mention the phrase 'creative works' so ➕ there)

https://github.com/WordPress/openverse-frontend/issues/1756

[2022-08-31 21:13] zackkrida opened #1767 "Reevaluate thumbnail fallback behavior"
Currently, the if the search results page isn't able to get a thumbnail from the API `/thumbs` endpoint for an image, it falls back to using the _full resolution image_.

In situations where an entire source is unavailable due to an outage, or other problems where thumbnails are unavailable and the full-size images are quite large, this can mean a lot of large images downloading for the user at on

[2022-08-31 21:22] zackkrida opened #1768 "Indicate that media-specific filters are avaliable"
## Problem

The filters on single media type views are much more powerful than on the 'all results' page, because you can search by source and other media-specific metadata.

## Description

How could we make this more powerful filtering clear to our users? Maybe a small message at the bottom of the 'all results' filterbar, something like:

"Narrow your search to a single media type to enable addi

[2022-09-01 12:46] obulat commented on #1669
To clarify my point about the dot above the filters. I do like the idea of showing that something about the filters has been changed. Using a dot of the accent color, however, makes me feel that there's something that I need to address. I liked this description of badge indicators (apparently, that's what the pink dot in the corner of the icon can be called) from the [Carbon design system](https:/

[2022-09-01 13:08] obulat opened #1770 "Precommit loads lint-staged from the internet on every commit"
## Description

In pre-commit hook, we run `pnpx lint-staged`, which loads `lint-staged` from the internet on every commit. Instead, we should use `pnpm lint-staged` which reuses the library that is already locally installed:

https://github.com/WordPress/openverse-frontend/blob/c78e7f8b660c2294bd77e02919ec79907fbea9e4/.husky/pre-commit#L9

## Additional context

My computer often have problems co

[2022-09-01 16:02] panchovm commented on #1669
## To @obulat questions

The app feeling was very intentional, and because of that, the component only has actions that impact the content. This also relates to the potential of embedding the header in other touchpoints like the browser extension and Media in Core. That being said, I don’t see a risk of missing the internal pages as they are visible every time when browsing, especially when reachi

[2022-09-01 16:11] zackkrida commented on #1669
Thanks @panchovm! Everything you've explained makes sense. Thanks for responding to _so much_ feedback so thoroughly.

[2022-09-01 16:29] panchovm commented on #1197
@zackkrida The "Non-supported content type" refers to the non-supported page, like video results. I am not sure if you linked the incorrect issue or if we are tackling that change in #1665.

@dhruv mentioned the change I pointed out in [this comment](https://github.com/WordPress/openverse-frontend/issues/734#issuecomment-1168351861).

[2022-09-01 16:29] krysal commented on #1660
@panchovm Sorry, I haven't had the chance to look for options. Tagging other folks for any ideas @obulat @dhruvkb  @zackkrida

[2022-09-01 16:33] panchovm commented on #1699
+1 to disabling it. It keeps visible that the content type exists so visitors not clicking the switcher will notice we support audio content. I will add `needs design` as we need to add the `disabled` state of the component in the Design Library.

Thanks for the suggestion @dhruvkb

[2022-09-01 19:38] #1770 closed

[2022-09-01 21:17] panchovm commented on #1585
I like this idea. I am putting down the questions we want to respond to with user data. To continue, I will remove the `needs design` label and @ramadanomar can continue as he [was interested](https://github.com/WordPress/openverse-frontend/issues/1585#issuecomment-1216804697) in taking this issue.

[2022-09-01 21:21] panchovm commented on #1740
I think a mix of both solutions sounds good. In that way, we avoid risking people not seeing the snackbar, but the design in `VAudioTrack` needs to change. I will come up with a proposal. Thanks for reporting it @krysal

[2022-09-01 21:33] panchovm commented on #1757
Grammarly suggestion is correct @obulat, let's go with what you described.

[2022-09-01 21:49] panchovm commented on #1756
We should not reduce Openverse visibility due to SEO, definitely. I am not sure about adding Creative Commons words in the main call as it might not be clear to all users. We are already mentioning CC by linking it with the licenses, making the relationship clearer.

In any case, I will share it with [Dan Soschin](https://github.com/DanSoschin) as he was interested in helping us. I would not like

[2022-09-02 00:47] #1583 closed

[2022-09-02 04:04] obulat opened #1772 "Global audio e2e tests are failing"
## Description

The `test/playwright/e2e/global-audio.spec.ts` passed when they were added, but they are failing now. I've disabled them in #1646, but we should fix and re-enable them.

The tests passed for me locally, but do not pass when ran in Docker.

[2022-09-02 08:33] obulat commented on #1660
Thank you for tagging, @krysal!

The difficulty with this issue is that the heading styles are different on different screen widths. Sometimes, the size changes on the `md` breakpoint, but sometimes - on `lg` breakpoint. An even larger complication is that the same sizes on desktop can correspond to different sizes on the mobile. For example, _Heading 5_ on desktop can correspond to mobile style #

[2022-09-02 11:47] obulat opened #1774 "Run Check Nuxt build and Nuxt Playwright tests in parallel in CI"
## Problem

Currently, these two steps are run consequently, meaning that the CI lasts at least 2 minutes longer.

## Description

These steps do not actually depend on each other, so we should run them in parallel.

## Additional context

The first step of Nuxt Playwright tests is also building the Nuxt app. However, the Check Nuxt build makes sure that we can correctly download the real locale f

[2022-09-02 14:39] krysal commented on #1660
I'm glad that the custom utilities worked out for this case 😃 I'm sure we will find situations when we can't use our custom utilities due to difficulties matching styles but I hope those are exceptions more than the norm.

One thing needed here before a PR, is that @panchovm wanted to review (and likely change some of) those styles @obulat, given the final result often looks a bit different on Fig

[2022-09-02 15:48] zackkrida commented on #1197
Reopening for the page changes needed in #1766

[2022-09-02 16:08] #878 closed

[2022-09-02 16:46] DanSoschin commented on #1756
Here are some of my thoughts for additional consideration...

- I agree with Zack that "creative works" fits better than "media". Media has an odd-sounding conjugation in English; and in this case, it doesn't seem to flow/sound right for our intended goal.
- Another option for the main heading could be something like: "Explore more than 600 million creative works"
- A sub-header along the lines of

[2022-09-02 16:54] zackkrida commented on #1756
That's great, thanks @DanSoschin! I really agree a subheader is necessary here, hopefully we can find a way to add one without going into 'redesign' territory as @panchovm mentioned. I mocked up your suggestions, I like it!

![CleanShot 2022-09-02 at 12 52 50@2x](https://user-images.githubusercontent.com/6351754/188202065-74a1201c-3692-4b94-ad37-a128b122e3d2.png)

[2022-09-02 18:31] #1297 closed

[2022-09-02 18:31] #1592 closed

[2022-09-02 19:33] krysal commented on #1315
I'm fine with either way, could be feature-flagged to release it quickly though maybe it will simplify code if we removed it completely (?)

[2022-09-02 19:58] #963 closed

[2022-09-04 04:31] obulat opened #1780 "Load more button is not shown on all content view if one media type has 0 results"
## Description

On all content view, the load more button isn't shown when one of the types does not have any results, even if the other has more than 1 page.

## Reproduction

1. Go to https://wordpress.org/openverse/search/?q=e-commerce
2. You should see that the page shows 'More than 10,000 results' in the search bar and in the 'See all images' link, and 'No results' in the 'See all audios' lin

[2022-09-04 14:18] obulat opened #1781 "Cleanup the fonts"
## Problem

There are several problems with the fonts in this repository that should be fixed:
- [x] #1782

- [ ] We should set the variable WOFF2 font as default and add non-variable fallbacks for older browsers. The Inter font files can be downloaded from the official website (https://rsms.me/inter/). The downloaded archive also contains some README files with samples of how to use them.
There s

[2022-09-04 14:18] obulat opened #1782 "Delete unused font files"
## Description

Openverse uses only one font for its interface, Inter. `src/assets/fonts` contains several other fonts we do not use. We should delete all of JetBrains Mono, Roboto, SourceSansPro font files.

[2022-09-05 09:46] CatherineNjenga commented on #1782
Hello, I would love to work on this issue if it is still open.

[2022-09-05 13:27] obulat opened #1784 "The link to report at the source is incorrectly linking to the direct URL"
## Description

After submitting a report for an item on Openverse, the user is encourage to submit the same report at the source of the media item. The link should be to the `foreign_landing_url` of the image which has the "Report it" button, not the direct URL (that opens the original image).

## Screenshots

<img width="436" alt="Screen Shot 2022-09-05 at 4 22 24 PM" src="https://user-images.gi

[2022-09-05 14:52] obulat commented on #1660
Do I understand it correctly, @panchovm, that in New styles you marked the styles that were changed with pink and the ones that are no longer used with lighter charcoal color?

[2022-09-05 15:20] panchovm commented on #1756
Here is a design idea for desktop and mobile. It has the same content shared by @zackkrida's version but with style tweaks.

## Desktop
![Home 03 desktop](https://user-images.githubusercontent.com/895819/188480129-81aa2087-a8e8-4c4e-bf78-f5af050b7ef3.png)

## Mobile
<img src="https://user-images.githubusercontent.com/895819/188480408-2bffa5c7-6bbd-42d1-908a-2879c5f84544.png" width="350">

[2022-09-05 15:42] panchovm commented on #1660
Yes. But that is still pending. Please do not take it as a final decision.

I wanted to put my hands on some front-end code, but since I will take AFK days soon, perhaps it is worth keeping the Figma test and moving to a simple code test once I have the first outcome.

[2022-09-05 17:26] chandu-jadhav commented on #1784
hey can I work on this issue?

[2022-09-05 17:42] #1757 closed

[2022-09-05 18:07] zackkrida commented on #1784
That would be great, @chandu-jadhav! thank you.

[2022-09-05 19:18] panchovm commented on #1756
I will update the design issue and Figma file

[2022-09-05 20:09] SincerelyBrittany commented on #1784
I am also interested in working on this issue. Let me know if anything pops up. :)

[2022-09-06 09:42] obulat commented on #1784
Thank you for opening your PR, SincerelyBrittany. Please note that it is expected that we give the person who expressed interest in an issue (@chandu-jadhav) about a week to come up with a PR before transferring the issue to someone else.

@chandu-jadhav, I am sorry that you didn't get the chance to open a PR for this issue. Please, look at other '[good first issue](https://github.com/WordPress/op

[2022-09-06 12:28] obulat opened #1787 "`use-media-query` raises error in VGlobalAudioPlayer"
## Description

Search for all content on a narrow screen. Click on an audio. You will see a warning in the console:
[code]

## Additional context

Now that we've updated to Vue 2.7, we should probably just use the Vueuse composables directly instead of re-implementing them in our code. This way, we can get all the bug fixes.
This commit seems to be fixing the same error there: https://github.com/

[2022-09-06 12:41] #1782 closed

[2022-09-06 14:18] panchovm commented on #1363
Removing `needs design` label as #1669 address this problem.

[2022-09-06 14:19] panchovm commented on #1251
Removing the `needs design` label as #1701 addresses this change.

[2022-09-06 14:21] panchovm commented on #1295
Removing the `needs design` label as #1433 addresses this change.

[2022-09-06 14:56] #1784 closed

[2022-09-06 15:16] obulat opened #1788 "Add e2e tests for Load more functionality"
## Problem

Load more functionality needs a suite of e2e tests. The cases should use both SSR and CSR to load the first search page.

 1. All content view with more than 1 page of results for each media type:
  - should have a Load more button.
  - each individual media type view should have a Load more button.
  - when button is clicked, should fetch all media types.
 2. All content view with res

[2022-09-06 15:21] zackkrida commented on #1605
This problem is occuring much less commonly with the fixed Jamendo URLs, but we should still add this level of error handling as a best practice and to cover all edge cases.

[2022-09-06 15:36] panchovm commented on #1366
Removing the `needs design` label as this is addressed in #1488

[2022-09-06 15:37] panchovm commented on #1174
Removing the `needs design` issue as this is addressed in #1433

[2022-09-06 15:39] zackkrida commented on #1488
@panchovm have we thought about the search result / header alignment issued discussed here as it relates to the new header in #1669 ?

[2022-09-06 17:51] zackkrida commented on #1197
@panchovm you are right, I made a new issue to track the design and implementation of those pages.

[2022-09-06 17:54] zackkrida opened #1791 "Page for 'not supported' / 'coming soon' content types"
## Problem

We need to design and implement a page for the 'not supported' / 'coming soon' content types we would like to show in the content switcher. At the time of writing those are 3D models and video. Adding these pages will help us get a sense of interest in these content types. We can also show external sources for these content types in the meantime to help users.

## Description

@panchov

[2022-09-06 17:54] zackkrida commented on #1197
@panchovm you are right about the 'not supported' pages, I've made a new issue for them here https://github.com/WordPress/openverse-frontend/issues/1791

[2022-09-06 18:26] krysal commented on #1768
Duplicate of #1382.

[2022-09-06 18:30] krysal commented on #1440
I cannot reproduce the issue anymore (tested on Chrome and Firefox in [staging](https://search-staging.openverse.engineering/search/?q=galah)).

[2022-09-06 18:30] #1440 closed

[2022-09-06 20:10] zackkrida commented on #1768
I can't believe I did this twice, thanks @krysal 😅

[2022-09-06 21:05] zackkrida commented on #1382
Closing this in favor of #1768

[2022-09-06 21:05] #1382 closed

[2022-09-06 21:06] zackkrida commented on #1440
Yes, indeed it is fixed! I believe it was resolved by #1716

[2022-09-07 07:42] obulat opened #1794 "Invalid characters in URL cause the app to show Nuxt generic server error screen instead of our 404"
## Description

We use nuxtjs/redirect-module for permanent redirects:

https://github.com/WordPress/openverse-frontend/blob/ea3f2155f2175779d86c8c47eb0b2139ddf6e3b0/nuxt.config.ts#L233

For each requested path, the middleware of `nuxtjs/redirect-module` checks the path with `decodeURI`, and calls `options.onDecodeError` if there is an error (URI malformed, for instance, https://developer.mozilla.

[2022-09-07 07:45] obulat commented on #1794
Closing as duplicate of #1602.

[2022-09-07 07:45] #1794 closed

[2022-09-07 09:31] obulat commented on #1429
The linked Sentry shows that this is happening in a `v-on` handler inside the `VWaveform`, when the duration is `[NaN]` (does it mean that it's an array with a single element of `NaN`, or simply that it's `NaN`?

Props Data:
[code]

[2022-09-07 10:09] #1780 closed

[2022-09-07 20:49] #1756 closed

[2022-09-08 06:40] #1605 closed

[2022-09-08 14:13] zackkrida opened #1797 "Update from popper.js to floating-ui"
The maintainers of popper js have moved on to a lower-level library called [floating-ui](https://floating-ui.com/). The library purports to be smaller, faster, and offer more customization options to users.

We should migrate over to this library, using their [migration guide](https://floating-ui.com/docs/migration), to ensure future support and stability of our popovers.

[2022-09-08 15:11] panchovm commented on #1791
I updated the [Figma file](https://www.figma.com/file/IFIqt7Q3MEKMLSnBedzHBO/3D-model-support-and-homepage-redesign?node-id=103%3A1349) where the mockup is with the following changes:
* Replaced "one of the additional sources" with "one of the external sources".
* Updated the Filters button with a new `disabled` state.
* Fixed the external icon size as the previous mockup had a component bug from

[2022-09-08 15:30] panchovm opened #1798 "Add a disabled style to three components"
## Problem
As noted in tickets #1791 and #1790, some components need a "disabled" state to deny the use of some features, but the current Design Library does not have styles for the Content switcher and Filters components.

## Description
To make this state visually consistent with other components, the Design Library was updated with a new variant in each Figma component mentioned. Here is the st

[2022-09-08 15:45] panchovm commented on #1488
Yes. Here is a quick update of the image results with the new header.

<img width="739" alt="CleanShot 2022-09-08 at 11 45 15@2x" src="https://user-images.githubusercontent.com/895819/189166699-bd9251ce-2273-4138-9572-7861a8f26303.png">

[2022-09-08 16:45] zackkrida commented on #1791
@panchovm looks great, thank you! One consideration: should these mockups use the row of external source buttons, or the new dropdown menu style for the external sources?

[2022-09-08 17:03] panchovm commented on #1791
A row of buttons. The dropdown menu was to prioritize Openverse results, but in this case, it is better to make the options more explicit.

[2022-09-08 17:46] panchovm commented on #1701
Closing this issue as all related work is done and merged. Great work folks ✨

[2022-09-08 17:46] #1701 closed

[2022-09-08 17:59] zackkrida opened #1799 "Single audio result back button triggers the "audio key shortcuts" snackbar"
## Description

The back to search button on single result audios triggers the "audio key shortcuts" snackbar. This can result in a mobile state where the snackbar is visible but cannot be closed.

## Reproduction

1. Make an audio search.
2. Click on a result with the mouse or touch, on mobile.
3. Click or tap the 'back to search results' button
4. Observe the snackbar now appears, and on mobile

[2022-09-08 19:56] krysal commented on #1157
Fixed in #1335.

[2022-09-08 19:56] #1157 closed

[2022-09-08 20:08] krysal opened #1800 "Include `peaks=true` param on audio requests"
## Problem

In WordPress/openverse-api#917 we are changing the peaks of the waveform to be optional in API responses, so we need to adjust petitions here to ensure the Frontend keeps using real waveforms (when available) for audio tracks.

## Alternatives

The audio track component will fall back to using randomized deterministic peaks. This is less preferable as it does not give the user exact in

[2022-09-09 05:30] vj27111997 commented on #1791
hey @zackkrida  I want to contribute in this feature can I make pull request please provide your confirmation

[2022-09-09 05:31] vj27111997 commented on #1765
hey @zackkrida  I want to work into this can you go ahead

[2022-09-09 05:32] vj27111997 commented on #1702
hey @stacimc  I want to work into this issue will I go ahead with this

[2022-09-09 08:53] #947 closed

[2022-09-09 12:24] zackkrida commented on #1702
Sure, thanks @vj27111997! Feel free to ping `@WordPress/openverse-frontend` if you need anything.

[2022-09-09 12:25] zackkrida commented on #1765
Hi @vj27111997 this isn't ready for work yet. It needs more discussion. I can update you when it is ready though.

[2022-09-09 12:28] zackkrida commented on #1791
Hi @vj27111997 you are welcome to work on this! These changes exist in the `v-else-if="!hasNoResults && !isSupported" block inside of the https://github.com/WordPress/openverse-frontend/blob/c801914bcd05d64c0c58fac80ece43e2b05e1afd/src/components/VMetaSearch/VMetaSearchForm.vue component. Comment here and @ `@WordPress/openverse-frontend` with any questions.

[2022-09-09 17:48] vj27111997 commented on #1702
hey @zackkrida  please reassign me this issue due my mistake i wrongly pressed unassigned I would request you to please reassign me

[2022-09-09 18:45] panchovm commented on #1740
Here is an idea for this.

The action is a text instead of an icon, as in Gutenberg's version, whereas the focus only applies to the action variant. Here is a gif showing the behavior.

### Snackbar variant
<img src="https://user-images.githubusercontent.com/895819/189420256-ee230904-47e2-4555-aaf6-197e6c8fabe3.gif" width="500">

### Action states
<img src="https://user-images.githubusercontent.co

[2022-09-09 20:46] #1315 closed

[2022-09-10 11:01] sourav25998 commented on #1798
Hi @dhruvkb . I would like to work on this issue. Please assign this to me.

[2022-09-10 11:03] dhruvkb commented on #1798
Sure @sourav25998. Please go ahead.

[2022-09-10 13:28] abhi2296 commented on #1016
Hello @dhruvkb ! Could you please assign this issue to me?

[2022-09-10 13:33] abhi2296 commented on #1016
Hello @sarayourfriend ! Could you please assign this issue to me?

[2022-09-10 13:35] dhruvkb commented on #1016
Hey @abhi2296! You can work on it. I'll assign it to you!

[2022-09-10 13:38] abhi2296 commented on #1016
Thank You so much!!

[2022-09-10 20:07] #946 closed

[2022-09-10 20:07] #1730 closed

[2022-09-10 20:07] #1787 closed

[2022-09-11 17:36] obulat opened #1803 "Add a feature flag for the new header"
## Problem

We should start working on the [new header ](https://github.com/WordPress/openverse-frontend/milestone/18) without affecting the current production site.

## Description

Add a switchable feature flag `new_header` that is disabled by default. All the work on the new header should be done under this flag. The existing components should be renamed to `...Old`, and the new components shou

[2022-09-12 08:03] sourav25998 commented on #1798
Hi @dhruvkb . I'll be continuing with my issue that has been assigned to me in openverse-api at the moment. I shall come back to frontend once I am done with that issue. Thus, I am unassigning myself from this issue right now. Hope you understand

[2022-09-12 08:03] sourav25998 commented on #1798
/unassign

[2022-09-12 08:06] vinzesiddharth29 commented on #1798
Hi @dhruvkb ,
It seems @sourav25998 is continuing with another issue, so I would like to work on this instead.
This issue is likely to be a good start of my journey towards contribution to FOSS projects.
Please assign this to me.

[2022-09-12 16:32] shishirgupta07 commented on #1597
Hi @dhruvkb ,
I am a student who needs to contribute to an OpenSource project in my coursework, so I was wondering if you can assign this to me.
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-12 16:35] dhruvkb commented on #1597
Sure @shishirgupta07, go ahead. If you need help feel free to comment here or send a message in the #openverse channel in the [Making WordPress Slack workspace](https://make.wordpress.org/chat/).

On a side note and just out of curiosity, which institute are you from?

[2022-09-12 16:38] shishirgupta07 commented on #1597
@dhruvkb Thanks for assigning me , I'm from BITS Pilani.

[2022-09-13 03:56] #1803 closed

[2022-09-13 05:19] obulat opened #1805 "Component: VContentSettings IconButton"
_All work for the 'Create new header' milestone should be done under the `new_header` feature flag._

## Description

The new header component has a Content settings Icon Button for selecting content types (audio/images/all) and filters on screens below `md` breakpoints.

## API

### Props

| Name | Type | Description |
|-|-|-|
| isPressed | Boolean | Whether the button has been pressed (activated

[2022-09-13 05:24] obulat commented on #1805
Here are some screenshots from the Figma file. Please note that the screenshots are subject to change, and always consult the linked Figma file.
The Content settings IconButton inside the mobile header:
<img width="132" alt="Screen Shot 2022-09-13 at 8 22 36 AM" src="https://user-images.githubusercontent.com/15233243/189815787-eae2df8d-187a-4ea7-9b24-0aa800ec9229.png">
The states of the IconButton

[2022-09-13 09:53] obulat commented on #479
We plan to implement the Recent Searches feature as part of the [Create new header](https://github.com/WordPress/openverse-frontend/milestone/18) milestone. This is the update on the state of the design for it.

I've found the following newer mockups for the Recent searches feature:
**Desktop**: https://www.figma.com/file/w60dl1XPUvSaRncv1Utmnb/Audio-Release?node-id=1001%3A16848
**Mobile**: https:

[2022-09-13 10:22] obulat commented on #479
The summary of the answers for the Implementation questions above:

In the current milestone, we do not let the users opt out of this, but we add a disclaimer to inform the users that the data is stored locally and not sent anywhere: "Openverse does not store your recent searches. This information is kept locally in your browser."

4, as in both mobile and desktop mockups.

I agree with @zackkrida

[2022-09-13 15:18] #1800 closed

[2022-09-14 06:50] obulat opened #1806 "Enable closing the dialogs from the parent components"
## Problem

We use the `use-dialog-content` composable for accessible dialogs (modals and popovers). The composable exposes `hide` (or `close`) ref to the template that allows for closing the modal from inside the template. However, this is only available as the `template`'s slot prop, and not available inside the `script`.
We need to be able to close the modal from the `<script>`, too. One such e

[2022-09-14 10:15] obulat opened #1807 "Component: VHeaderInternal"
_All work for the 'Create new header' milestone should be done under the `new_header` feature flag._

## Description

For content pages and the home page, we use a header with links to other content pages. Under the `md` breakpoint, uses a hamburger button, which opens a full-screen modal with the links.

## API

`VInternalHeader` should use the [`use-pages` composable](https://github.com/WordPres

[2022-09-14 10:18] obulat commented on #1807
Here are some preliminary screenshots (please, note that they are subject to change, always check the Figma files):

<img width="497" alt="Screen Shot 2022-09-14 at 1 17 02 PM" src="https://user-images.githubusercontent.com/15233243/190128361-58df4965-8f1e-4a36-9ae8-51502b2252fb.png">

[2022-09-14 11:14] obulat opened #1808 "Component: VShowResults button"
_All work for the 'Create new header' milestone should be done under the `new_header` feature flag._

## Description

The mobile content settings modal shows a "Show results" button which, when clicked, closes the modal. The button also shows an animation when the results are being fetched.

## API

### Props

| Name | Type | Description |
|-|-|-|
| isFetching | boolean | Whether the media is bein

[2022-09-14 12:45] dhruvkb commented on #1807
Recommendation: Should we change the name to be `VHeaderInternal`. That way, in a sorted list of files/folders, we'll see all variations of the header together.

[2022-09-14 12:51] dhruvkb opened #1809 "Component: VFooter"
_All work for the 'Create new header and footer' milestone should be done under the `new_header` feature flag._

## Description

For search pages, we use a footer with links to other content pages. These links can be arranged linearly or, on small devices, in a 2-column grid.

For non-search pages (such as the home page and content pages), the footer does not show links or the Openverse logo as th

[2022-09-14 12:52] dhruvkb commented on #1809
Screenshot (subject to change, not to be used as a reference):

![Footer internal](https://user-images.githubusercontent.com/16580576/190158710-a8ba3f5c-a931-4959-9fb2-7ede0946817e.png)

[2022-09-14 13:21] dhruvkb opened #1810 "Restore the locale switcher and update as per the new designs"
## Description

The locale switcher was [removed from the codebase](https://github.com/WordPress/openverse-frontend/commit/7eac75b0) when the Openverse site was rendered within wordpress.org using an `iframe`. This was because we were passing the i18n preferences of the outer site into the `iframe`.

With the `iframe` being removed, we need to restore the deleted functionality of managing i18n on

[2022-09-14 14:25] panchovm opened #1811 "Openverse footer"
## Description
Since we plan to move Openverse out from the WordPress.org site and implement the new header (#1669), we need to allow visitors to see the internal pages, mark the search as a WordPress project, and add the language selector in the future.

In that vein, the footer has two contexts:
* **Footer content:** To be used in results and single content details. Internal pages are always pre

[2022-09-14 21:31] dhruvkb commented on #1811
Linked to #1809.

[2022-09-15 09:20] dhruvkb opened #1815 "Using JSON5 for `en.json`"
## Due date: 2022-09-29 (a fortnight)

## Assigned reviewers

Tagging @WordPress/openverse-frontend, please feel free to add your name below if you have some feedback (good or bad) or ideas.

- [ ] TBD
- [ ] TBD

## Description

We use JSON to write the main i18n locale file: `en.json`. This file is completely written by hand and maintained manually, for which JSON is a pretty poor format. This mi

[2022-09-15 13:41] #1799 closed

[2022-09-15 15:26] #1602 closed

[2022-09-15 15:26] #948 closed

[2022-09-15 15:31] obulat opened #1819 "useMediaQuery does not add event listener"
## Description

In https://github.com/WordPress/openverse-frontend/pull/1731 I accidentally removed `addEventListener` calls, so the `useMediaQuery` is not working anymore.

## Resolution

- [x] 🙋 I would be interested in resolving this bug.

[2022-09-15 15:59] krysal commented on #1815
There is indeed a vue-i18n rule to warn about [unused keys](https://eslint-plugin-vue-i18n.intlify.dev/rules/no-unused-keys.html#rule-details). I agree would be great to add it and to have comments in JSONs 😃

[2022-09-15 18:32] krysal commented on #1709
More info from [Sentry Documentation](https://docs.sentry.io/platforms/javascript/guides/vue/configuration/releases/):

The first part of the second point is particularly attractive. Would be great if is paired with the reactivation of the [Sentry Release GitHub Action](https://github.com/marketplace/actions/sentry-release).  I guess it will require updating the `<environment>-frontend-deploy/acti

[2022-09-15 19:27] #1819 closed

[2022-09-15 20:10] panchovm commented on #1669
I recorded the following video giving more details about the header and how it works with the new footer (#1809)

[![Openverse header](http://img.youtube.com/vi/HOMNKJAkbAM/0.jpg)](http://www.youtube.com/watch?v=HOMNKJAkbAM)

[2022-09-15 21:36] zackkrida commented on #1362
@WordPress/openverse-frontend I've updated this ticket with the new design information from Figma and added this to the new header footer milestone.

[2022-09-16 04:13] #1660 closed

[2022-09-16 15:30] #1156 closed

[2022-09-16 15:36] krysal commented on #1416
Sentry details are lost. This is probably fixed in #795 so I'm closing it.

[2022-09-16 15:36] #1416 closed

[2022-09-16 16:02] krysal commented on #1606
Closing due to inactivity. The last event was seen on Aug 21, 2022.

[2022-09-16 16:02] #1606 closed

[2022-09-16 19:31] zackkrida opened #1822 "Blur or otherwise make 'mature' single results opt-in"
## Problem

Currently if someone shares a direct link to an image in Openverse that is labeled as `mature`, users are shown the media without any indication that they are about to see mature content.

## Description

We could blur or otherwise block single results until the user agrees to see mature content. We would want a message to the effect of:

## Alternatives

## Additional context

## Impl

[2022-09-18 11:25] dhruvkb commented on #1435
A couple of points to add:

- Those messages are specific to Firefox. Chromium (and its derivatives) do not show those violations. They show other errors though, but unrelated.

<img width="1243" alt="Screenshot 2022-09-18 at 3 13 49 PM" src="https://user-images.githubusercontent.com/16580576/190899248-18199cb6-c9e6-4d7b-8ad2-5fba4abead4c.png">

- It's intended behavior so Firefox should not be is

[2022-09-19 17:26] obulat opened #1824 "Component: Content header"
## Description

We need to add a Content header, the new header variant used on the internal pages (eg., About, Sources, etc). This header contains an Openverse logo mark and a navbar with the list of links to the internal pages. On mobile screens, the navbar is collapsed to a hamburger menu button, which opens a full-screen modal with the links.

## API

### State

| Name | Type | Description |
|

[2022-09-20 02:49] zackkrida opened #1826 "Meta tags for the 'new header' feature flag"
## Problem

Our new header feature flag and milestone represent a standalone version of Openverse, free from the w.org iframe. With this approach our canonical URL will no longer be w.org/openverse and will instead be our new domain name.

For this reason, we need to update our meta follow tags on the site.

## Description

Pages that _should be_ indexed by search engines are:

- The home page
- A

[2022-09-20 04:40] #1809 closed

[2022-09-20 04:40] #1811 closed

[2022-09-20 08:16] obulat opened #1828 "Add `onClick` to `VLink` component when `NuxtLink` is used"
## Problem

We are using a conditional component in VLink which passes on the `$listeners` to the underlying component. However, when passing the `$listeners` Vue only passes the listeners without the `.native` modifer (https://v2.vuejs.org/v2/api/#vm-listeners). This prevents the `onClick` handler from firing on `NuxtLink` click.
If we try to specifically add `@click.native`, we get an error when

[2022-09-20 09:40] sarayourfriend opened #1830 "Disable component auto-injection for duplicated named header components"
## Problem

We currently get a ton of errors during build:

[code]

## Description

Let's disable component auto-injection for these components or better yet just disable it altogether.

## Additional context
Marked high because it could theoretically cause a probably hard-to-debug issue if auto-injection was used by accident.

## Implementation

- [ ] 🙋 I would be interested in implementing this

[2022-09-20 09:46] sarayourfriend opened #1831 "Homepage search bar will clear entered text if you enter text before the page has hydrated"
## Description

This is an incredibly frustrating experience if you're on a slow connection.

## Reproduction

1.  Load the homepage with a slow connection (throttle your browser if need be via dev tools)
2.  Quickly start to type a query into the search bar before the content switcher has appeared and hit enter to submit the query
3.  Once the content switcher has appeared note two things: the se

[2022-09-20 09:51] sarayourfriend opened #1832 "Filter sidebar is not synced correctly with page navigation causing page jittering when navigating between search and a single result"
## Description

The filter sidebar pops out in too early when navigating back to search from a single result or it pops out too early when navigating from search to a single result.

This causes the search and single result pages to dramatically layout shift just before the navigation actually happens.

## Reproduction

1.  Go to https://search.openverse.engineering/search/?q=galah and lave the fi

[2022-09-20 10:00] sarayourfriend opened #1833 "Remove unused and potentially risky `srText` from VBrand component"
## Problem

The VBrand component has a prop called `srText` that a) allows you to change the text the screen reader would read for the Openverse logo and brand mark and b) has documentation that suggests we might one day set the text to empty.

1. When would we ever want to set it to empty? Wouldn't that be an a11y issue?
2. Under what circumstances do we need to be able to change this?

Generally

[2022-09-20 10:07] sarayourfriend opened #1834 "Upgrade to latest TS version"
## Problem

We are two minor versions behind on TypeScript.

## Description

Update TS by modifying pnpm-file.cjs and rebuilding the lock file.

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-09-20 10:47] #1805 closed

[2022-09-20 11:56] #1828 closed

[2022-09-20 13:13] obulat opened #1835 "Make VTabs closable for the new settings modal"
## Problem

The new header design has new Settings modal with tabs and the close button at the top. The VTabs component that we have does not have the 'Close' button.

## Description

We should add a `closable` prop to `VTabs`. If true, the tabs should have a Close button at the top inline-end corner. The button should emit a `close` event on click.

## Designs
Figma: https://www.figma.com/file/Kx

[2022-09-20 13:18] obulat opened #1836 "Refactor the SearchType popover (desktop) for the new header"
## Problem

The new header design only has the SearchTypeButton shown on the desktop widths.

## Description

It will only show the SearchTypes popup, and not the modal.

## Mockups
Figma: https://www.figma.com/file/KxkZmBNk218V2Fke1GeYCu/New-header-component?node-id=561%3A65396

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-09-20 15:43] obulat commented on #1830
I was hoping to remove the old unused components in that list by fixing #1836. The PR fixing that issue will remove most of the popover/modal components because we no longer need them, and the buttons will be used only either on mobile screens or on desktop screens. Then we could just rename anything that's left.

[2022-09-20 16:17] #1788 closed

[2022-09-20 17:00] zackkrida commented on #1815
I support this, especially if we can find a way to get the json5 comments into the pot file and subsequently into glotpress.

[2022-09-20 17:28] obulat opened #1837 "Enable switching switchable feature flags using query params"
## Problem

Currently, to turn on a switchable feature flag, we need to go to the `/preferences` page and mark the flag.

## Description

It would be nice to be able to easily share the work under a feature flag by sharing a link that contains a flag query parameter. It should only work on staging, not in prod.

## Additional context

We are hoping to ask for community opinions on the header/foote

[2022-09-20 18:16] #950 closed

[2022-09-20 18:16] #949 closed

[2022-09-20 19:12] obulat opened #1840 "Audit all the `VLinks` to make sure all have `href` and make it required"
## Problem

Noted in https://github.com/WordPress/openverse-frontend/pull/1829#discussion_r975118023 : currently, the VLink component can sometimes not have an `href` prop and be rendered as a span.

## Description

We should only use `VLink` when `href` is available, and remove the `span` fallback from `VLink` component.

## Additional context

More discussion in  https://github.com/WordPress/ope

[2022-09-20 20:49] AetherUnbound commented on #1822
I've given this a medium priority as it seems like a larger change that may be essential but is not urgent.

[2022-09-20 21:37] sarayourfriend commented on #479
It'd be nice to use IndexedDB here rather than localStorage. Given that the retrieval of the information would probably happend _during input_ it would be great not to have the process blocked on local storage retrievals, especially on low spec devices where the response may take longer to come back.

[2022-09-21 03:45] #1830 closed

[2022-09-22 03:07] dhruvkb opened #1843 "Add E2E and VRT tests for new header and footer"
## Problem
The new header and footer are being developed behind a feature flag which makes it harder to write E2E and VRT test cases for them. This is being addressed in #1837.

## Description

Once #1837 is resolved, tests need to be added for the following components.

- [x] `VHeaderInternal` - Storybook VR tests added in #1825
- [x] `VHeaderContent` - Playwright VR tests added in #1968
- [x] `V

[2022-09-22 10:05] dhruvkb commented on #1822
We should add the "needs design" label to this issue imo. It'd be nice to have @panchovm's input in terms of UX and some mockups to implement.

[2022-09-22 14:44] obulat opened #1847 "Component: Content settings modal"
## Description

This is a tabbed content settings modal, a tab for Content type, and a tab for Filters. The PR doesn't include making the tabs swipable on mobile.

## API

### Props

| Name | Type | Description |
|-|-|-|
| initialTab | 'content-type' or 'filters' | The tab that should be active when the modal opens

### Events

| Name | Associated data | Description |
|-|-|-|
| close | - | Event s

[2022-09-22 17:23] obulat opened #1849 "Audio player's visual instructions are difficult to find for low-vision users"
## Problem

Visual player instructions appear at the bottom of the screen when the player receives focus. Instructions are read out by screen readers but will be extremely difficult to find for low-vision users. Low-vision users frequently only have visibility in the immediate vicinity of their current reading or focus point, so maintaining proximity of feedback is important.

## Description

Move

[2022-09-22 17:25] obulat opened #1850 "Make Screen reader instructions match the visual notifications for audio player"
## Problem

The screen reader feedback does not match the visual notification. Visual notification communicates the left and right arrows seek through the track, and screen reader notification only mentions the use of the Spacebar.

## Description

All instructions should be constructed to be more DRY, to ensure that all users get the same amount of feedback.

## Additional context

Reported by Jo

[2022-09-22 17:29] obulat opened #1851 "Audio player has multiple functions, but only the player function is communicated to the user"
## Problem

The player focus has different behavior depending on whether you hit ‘Enter’ or ‘Space’. Space plays the track, Enter opens the track’s page. A single control should not have multiple functions, and only the player function is communicated to the user. The mapping of behaviors is extremely complicated for an interface that practically speaking consists of only three controls: a play bu

[2022-09-22 17:32] obulat opened #1852 "Improve the a11y of licensing values in the audio player"
## Problem

Aria-label on licensing values will not be read. `aria-label` is only valid on interactive elements, but is attached to a span.

## Description

The preferred fix would be to wrap this in a link that points to detailed information on the licensing of the image, but you can’t embed interactive components inside other interactive components. So the best option available using the current

[2022-09-22 17:33] obulat opened #1853 "No audio feedback for screen readers when changing the slider value."
## Problem

No audio feedback for screen readers when changing the slider value.

## Description

Screen readers should get feedback about the current position of the slider when using the left/right arrows, e.g. ‘0 minutes 12 seconds of 3 minutes 43’. The exact wording should be run by a screen reader user for preferences.

## Additional context

Reported by Joe Dolson (https://make.wordpress.org

[2022-09-22 17:36] obulat opened #1854 "Audio thumbnail does not have a descriptive alt text"
## Problem

Alt attribute on the audio thumbnail image does not describe the image.

## Description

A descriptive alt attribute should be provided when possible.

## Additional context

Reported by Joe Dolson (https://make.wordpress.org/openverse/2022/09/07/frontend-release-v3-4-8-and-a-call-for-a11y-testing/#comment-95)

## Implementation

- [ ] 🙋 I would be interested in implementing this featu

[2022-09-22 17:40] obulat opened #1855 "The external link should disclose to the screenreaders that it opens in a new tab"
## Problem

Get this audio link opens in a new tab, but does not disclose this to screen readers.

## Description

The SVG 'external link' graphic needs an accessible name that notifies the user that the link opens in a new tab.

## Additional context

This was originally reported for the `Get audio` external link, by Joe Dolson (https://make.wordpress.org/openverse/2022/09/07/frontend-release-v3-

[2022-09-22 17:44] obulat opened #1856 "<Replace this with actual title>"
## Problem

On the row audio player, the screen reader reads the bullet character between the 'by' line and the track length:
<img width="545" alt="Screen Shot 2022-09-22 at 8 42 06 PM" src="https://user-images.githubusercontent.com/15233243/191815781-00c03b4e-88d9-47bd-b25e-f9624240ad37.png">

## Description

Bullet character between “by {author}” and track length should have `aria-hidden=”true”`

[2022-09-22 17:46] obulat opened #1857 "Arrow navigation of the seekbar not available on the single audio page"
## Problem

Arrow navigation of seek bar is not available on the track page. The rest of the page is easier to use for a screen reader, but that feature doesn’t appear to be available at all from the keyboard.

## Additional context

Reported by Joe Dolson (https://make.wordpress.org/openverse/2022/09/07/frontend-release-v3-4-8-and-a-call-for-a11y-testing/#comment-95)

## Implementation

- [ ] 🙋 I

[2022-09-22 20:21] zackkrida commented on #479
@sarayourfriend I actually think localstorage could be more appropriate:

1. This data is really small, it's only a few strings, and we could just load it when the header loads rather than on-demand at input time
2. The localstroage api is much simpler and therefore it might be easier to write _and_ to migrate away from if we switch to a session cookie-based approach later on.

[2022-09-22 20:27] #1837 closed

[2022-09-23 03:58] #1774 closed

[2022-09-24 07:47] obulat opened #1859 "Component: VSearchTypeButton for desktop header"
## Description

The new desktop (`lg` and up) header has a `VSearchTypeButton` that is used to open a search type popup.
It is similar to the old `VSearchTypeButton`, but still needs to be updated.

## API

### Props

| Name | Type | Description |
|-|-|-|
| a11yProps | Object | the properties that the VPopover or VModal pass to the trigger: `aria-haspopup` and `aria-expanded` |

### State

The com

[2022-09-24 07:48] obulat commented on #1859
`VSearchTypeButton` screenshots (please check the Figma file as the screenshots can become outdated):
<img width="338" alt="Screen Shot 2022-09-24 at 10 40 22 AM" src="https://user-images.githubusercontent.com/15233243/192086860-8bace6bc-c877-4a1c-b5b9-5592fdc9ff7a.png">

[2022-09-26 08:10] obulat opened #1863 "Audit the button variants"
## Problem

While working on the new header, I tried adding the new button variants such as `new-menu` to make sure that the old button variants are not affected when new buttons are added.

## Description

We need to audit the use of different button variants throughout the app, and make sure there are no unused ones.
Marking this issue as `high` priority because it blocks the development of the

[2022-09-26 18:34] stacimc commented on #479
@zackkrida I see you opened #1865 -- should this issue be assigned to you?

[2022-09-26 18:38] #1810 closed

[2022-09-27 09:36] obulat opened #1866 "Component: Updated VFilterButton for the desktop header"
## Description

The new header has a FilterButton displayed only on the widths above `lg`. The button has an icon or a number of applied filters on `lg` to `xl`, and a text label above that.

## API

### Props

| Name | Type | Description |
|-|-|-|
| pressed | Boolean | Whether the button is in `pressed` state |
| disabled | Boolean | Whether the filters are disabled |

### State

The component sh

[2022-09-27 13:02] #1807 closed

[2022-09-27 13:02] #1806 closed

[2022-09-28 11:42] obulat commented on #1835
Closing this issue because it is better to implement @zackkrida 's suggestion, and add a 'Close' button inside the `VTabs` slot.

[2022-09-28 11:42] #1835 closed

[2022-09-29 03:14] Kevan-Y commented on #1856
Hi would like to try to resolve this

[2022-09-29 03:35] obulat commented on #1856
Sure, @Kevan-Y, I've assigned the issue to you.

[2022-09-29 07:32] #1836 closed

[2022-09-30 12:05] #1863 closed

[2022-09-30 12:31] #1859 closed

[2022-10-03 10:58] obulat opened #1876 "Component: VHeaderMobile"
## Description

The new mobile search header is a composite component. In resting state, it shows the Openverse logo link, the search term, and the `VContentSettingsButton`. When the search input is activated, it shows a back button in the start (left) of the input, and a cross button for clearing the search term.
When the search input is activated, the Recent search terms modal should be opened.

[2022-10-03 14:13] obulat opened #1877 "Add animation to the mobile content settings modal"
## Problem

It would be nice to add the animated transition to the mobile content settings modal (#1846) to improve the user experience.

## Description

We can probably use Vue Transition component(https://vuejs.org/guide/built-ins/transition.html) to `transform: translateY` the modal when it appears.

## Additional context

There are some interesting examples of Vue dialog transitions here: http

[2022-10-03 14:16] obulat opened #1878 "Change the mobile content settings tabs using swipe gesture"
## Problem

The mobile content settings modal is tabbed, it should support native-like interactions.

## Description

To imitate the native tabbed navigation behavior, we can add swipe gesture detection to the mobile content settings modal to change the tabs.

## Additional context

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-10-03 15:26] dhruvkb opened #1879 "Update background color for the search bar"
## Description

The [new header search bar](https://www.figma.com/file/GIIQ4sDbaToCfFQyKMvzr8z/Openverse-Design-Library?node-id=2960%3A8190) is darker when not focused and becomes white when focused to type. This is the opposite of the current design and must be updated.
![Header content](https://user-images.githubusercontent.com/16580576/193615971-f28e0073-a577-46b5-adce-5e8ff4f54cad.png)

[2022-10-03 15:42] #1197 closed

[2022-10-03 17:20] obulat commented on #1879
We also need to add the Clear button to the desktop search bar.

[2022-10-04 03:43] #1866 closed

[2022-10-04 14:06] #1840 closed

[2022-10-04 15:27] obulat commented on #1808
Note that the stub of the button without animation is implemented in #1846

[2022-10-04 15:28] #1702 closed

[2022-10-04 15:28] zackkrida commented on #1702
Closing as this hasn't been observed for several months.

[2022-10-05 14:00] zackkrida opened #1883 "The ability to show mature images is gone"
## Description

We don't currently have the `mature` filter visible anywhere, to enable 'mature' images.

[2022-10-05 14:40] krysal commented on #1883
The issue for (re)adding the filter is #542.

[2022-10-05 16:28] #1883 closed

[2022-10-05 19:14] 0kyn opened #1884 "Broken link to CODEBASE.md"
## Description
Hi,

It's seems there are some obsolete information in the [CONTRIBUTING.md](https://github.com/WordPress/openverse-frontend/blob/main/CONTRIBUTING.md) file:

- A broken link that used to point to CODEBASE.md https://github.com/WordPress/openverse-frontend/blob/82aea7ddb7b31958c189f0a126e1528e3eddd978/CONTRIBUTING.md?plain=1#L11
- In addition to the historic [public roadmap](https:/

[2022-10-06 06:57] #479 closed

[2022-10-06 12:06] zackkrida opened #1886 "Recent searches combobox doesn't close when focus is lost"
## Description

If a user tabs through the header navigation, the recent searches popup isn't closed while tabbing through.

## Reproduction

1. Navigate to the search page
1. Press tab until you've navigated into the search bar and the recent searches popup opens
1. Tab out of the search bar
1. Observe the popover is still open

## Screenshots

https://user-images.githubusercontent.com/6351754/19

[2022-10-06 17:36] zackkrida commented on #1884
Hi @0kyn these are excellent suggestions.

This can be deleted

No actually, we intend to disable this GitHub feature as it has proved difficult to track. We instead have a `discussion` label and template for issues.

This should be `main` instead.

`pnpm test:unit` is a good replacement.

Yes!

Please feel free to get started on all of this work if you would like to.

[2022-10-06 18:56] #951 closed

[2022-10-06 18:56] #961 closed

[2022-10-06 19:18] marisveide commented on #1632
We have this issue too.

[2022-10-06 22:24] #1808 closed

[2022-10-07 13:30] obulat opened #1890 "Make the recent searches component ClientOnly"
## Problem

The recent searches feature causes a server-client mismatch.
When a user opens the search page directly, the server renders the Recent searches component with the single recent search - the search query from the URL. Then, the client loads the values from the localStorage, and the client-rendered virtual DOM can contain other items, which causes the mismatch and re-render.

## Descript

[2022-10-07 13:38] obulat opened #1891 "Layout not updated because the `new_header` flag status is set once"
## Description

The layout is not updated when you check the `new_header` checkbox.

## Reproduction

1. Run the app.
2. Go to `/preferences` page and check the `new_header` checkbox.
3. See error: the header should be updated to the VHeaderInternal, but instead it stays the same. The layout stays the same (without the new header) until you reload the page.

## Additional context

The `isNewHeader

[2022-10-07 19:28] dhruvkb commented on #1854
Does the audio thumbnail have any inherent value for someone using a screen-reader? Rather than the alt text being "Thumbnail for track _<insert track name here>_" (which will almost always be read in close proximity to the track name, I would much rather that the image was ARIA-hidden entirely.

Tagging @panchovm for UX guidance.

[2022-10-07 21:56] zackkrida commented on #1854
Looks like SoundCloud uses the track name as the alt text 😢

[2022-10-08 15:28] obulat opened #1894 "Add accessible button components for mobile searchbar"
## Problem

The mobile search bar in the new header contains buttons with focus area of 32x32px which need to have tappable area of more than 40x40px to be accessible.

## Description

Create a new component for buttons based on the `VIconButton` component that is 48x48px in size, but has a visible focus area of 32x32px to match the designs.

## Implementation

- [ ] 🙋 I would be interested in imp

[2022-10-10 12:30] #1879 closed

[2022-10-10 13:21] obulat commented on #1854
Ideally, we would have the descriptive texts for the thumbnails. But since we don't, I agree that aria-hiding the thumbnail element is a better solution.
Would we add `aria-hidden="true"` to the `div` that wraps both the fallback and the image here (instead of adding the `title`):
https://github.com/WordPress/openverse-frontend/blob/940b686b387e3fcc86a32dd6fdab15a60cc1b19b/src/components/VAudioThu

[2022-10-10 15:54] dhruvkb commented on #1854
@obulat that seems ideal. By doing that, to an SR, it would seem as if there is no thumbnail.

[2022-10-11 03:31] #1876 closed

[2022-10-11 07:59] obulat opened #1897 "Content switcher mobile modal tabs and close button should have interaction styles"
## Description

The mobile content switcher modal needs to have interaction styles.

<img width="386" alt="Screen Shot 2022-10-11 at 10 58 16 AM" src="https://user-images.githubusercontent.com/15233243/195032299-89b892af-bd16-4728-916a-f30ecdd91b76.png">

The tabs need to have a `dark-charcoal-10` background on hover ([Figma mockup](https://www.figma.com/file/GIIQ4sDbaToCfFQyKMvzr8/Openverse-Desig

[2022-10-11 08:05] obulat opened #1898 "Add interaction styles to the VHeaderInternal menu button"
## Problem

`VHeaderInternal` on mobile widths has a 'hamburger' menu button that doesn't have a hover style.

## Description

The button should have `hover:bg-dark-charcoal hover:text-white` classes to match the [Figma mockups](https://www.figma.com/file/GIIQ4sDbaToCfFQyKMvzr8/Openverse-Design-Library?node-id=2960%3A8569).

<img width="245" alt="Screen Shot 2022-10-11 at 11 02 50 AM" src="https:/

[2022-10-11 15:51] #1890 closed

[2022-10-11 20:18] #1886 closed

[2022-10-11 21:17] zackkrida opened #1904 "Improve `pnpm i18n` performance"
## Problem

Currently the longest step of our Docker builds is the `pnpm i18n` script. Are there things we could do to speed this up, such as making fetch calls concurrent or other optimizations?

## Description

This job runs three scripts in the `src/locales/scripts` directory in order:

1. create-wp-locale-list
1. get-translations
1. get-validated-locales

In total, this takes around 2 minutes

[2022-10-11 21:23] zackkrida commented on #1904
Testing the discrete pieces for time. Locally. This is quite odd, they're all really fast.

[code]

[code]

[code]

[2022-10-11 21:31] zackkrida commented on #1904
If I modify the `nuxt.config.ts` file to only include the `en` locale, and remove the `pnpm i18n` step from the Dockerfile, the entire build is indeed much faster, taking roughly 70s instead of over 200s.

[2022-10-11 21:35] zackkrida commented on #1904
On a fresh install of the repo `pnpm i18n` still takes only 1-2 seconds, so the Docker/local discrepancy is not related to any file caching.

[2022-10-12 18:03] zackkrida commented on #1904
This does not seem to be impacting some other people locally! 🤔

[2022-10-12 20:24] zackkrida opened #1908 "Consider an animated loading state for slow thumbnails"
## Problem

If a thumbnail response is particularly slow, perhaps we could show a clearer loading state instead of a static gray background.

## Description

## Alternatives

## Additional context

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-10-12 20:28] zackkrida opened #1909 "'Get this media' button scales to match title height"
## Description

The 'get this media' button scales to match the height of a work's title.

We should truncate the title to 2-3 lines and make the button align with the top rather than stretch to fill.

## Reproduction

1. Visit a single result with a long title, or modify the image title to span multiple lines
2. Observe.

## Screenshots

Screenshot: https://share.cleanshot.com/C5SZVX

[2022-10-13 06:07] sarayourfriend commented on #1904
I can confirm that for me it doesn't take nearly this much time. I just re-ran the docker build to see how long the step would take and it takes 11.3 seconds total.

[code]

[2022-10-13 09:51] #1898 closed

[2022-10-14 05:32] #1891 closed

[2022-10-14 17:21] alanjacobmathew opened #1910 "Typo: for word occurred"
## Description

The word occurred is mistyped [here](https://github.com/WordPress/openverse-frontend/blob/8795c64d1f5248e635224308f09666dbb8e71dcf/src/locales/en.json) as ocurred

## Resolution

- [x] 🙋 I would be interested in resolving this bug.

[2022-10-15 11:49] #1910 closed

[2022-10-15 13:38] obulat opened #1912 "The footer width is capped on wide screens"
## Description

## Reproduction

1. Go to search-staging.openverse.enginerring.
2. Set your screen to width more than 1024px.
3. Scroll down to the footer.
4. See error.

## Screenshots

<img width="1138" alt="Screen Shot 2022-10-15 at 4 32 24 PM" src="https://user-images.githubusercontent.com/15233243/195989356-9819cc4f-b45a-4f32-abb6-5f1760b62632.png">

<img width="1138" alt="Screen Shot 2022-10

[2022-10-15 14:09] #1362 closed

[2022-10-18 11:04] obulat commented on #1843
This issue should also include the work on updating the existing tests to pass with the `new_header` enabled.

[2022-10-18 13:41] #1909 closed

[2022-10-18 13:46] #1897 closed

[2022-10-18 15:24] obulat commented on #1798
I've self-assigned this issue because it's been a while, and it's marked as high priority. If you are interested in contributing, @vinzesiddharth29, please feel free to select another issue, and to reach out to the maintainers on the public Slack channel.

[2022-10-19 05:11] #1912 closed

[2022-10-19 14:09] obulat opened #1922 "Update pnpm/action-setup to v2.2.4"
## Problem

Version 2.2.2 that we currently use uses deprecated version 12 of Node, and we get lots of warnings in the CI:
<img width="924" alt="Screen Shot 2022-10-19 at 5 08 08 PM" src="https://user-images.githubusercontent.com/15233243/196714807-d2a1f674-54d1-4da0-b0e4-da8db03646ff.png">

## Description

https://github.com/WordPress/openverse-frontend/blob/18d6039fa633352770aaccf3c11e0c2595718d

[2022-10-19 14:52] dhruvkb commented on #1857
This issue needs more information. Currently it is possible to seek in the single audio results using the horizontal arrow <kbd>&larr;</kbd> and <kbd>&rarr;</kbd> keys.

https://user-images.githubusercontent.com/16580576/196725815-080f7afe-6879-430b-afb6-7b22a83a2be8.mov

[2022-10-19 19:46] bengreeley opened #1923 "Images resize on search results page load"
## Description
When I browse search results on the new site there is a slight flicker as images resize to my screen. Though the images resize relatively quickly and users likely don't notice this, I do wonder if this is affecting CLS (Cumulative Layout Shift) scores. It might be worth seeing if this shifting on pageload could be reduced.

## Reproduction
1. Go to https://search-staging.openverse.e

[2022-10-19 20:12] zackkrida commented on #1923
Wow, nice find! This is a very peculiar regression I hadn't noticed. CC @WordPress/openverse-frontend

[2022-10-20 01:48] sarayourfriend commented on #1923
@zackkrida I thought I remembered a PR we worked on to fix this issue and it turns out you actually worked to fix this several months ago: https://github.com/WordPress/openverse-frontend/pull/1381

This is definitely a recent regression. I wonder what caused it? The fix for this issue should include a Playwright test to check this, if possible. The linked PR might be a good place to start to look

[2022-10-20 05:37] obulat opened #1925 "Add types to VModal components"
## Description

Add type checking to components inside `VModal`. Make sure to add the directory to tsconfig.json's include list.

Additional context
The `VModalContent` imports an SVG logo converting it to a component with `?inline`, which cannot be type-checked. It should be replaced with an `svg` element similar to how it's used in `VIcon`.
Part of an ongoing effort to add type checking to parts

[2022-10-20 11:00] obulat opened #1929 "All VButtons are centered"
## Description

Buttons are centrally aligned by default, not matching the mockups.

## Reproduction

1. Open the license copy tabs.
2. See error: the Copy button is centered instead of being left-aligned.

## Screenshots

<img width="453" alt="Screen Shot 2022-10-20 at 1 56 38 PM" src="https://user-images.githubusercontent.com/15233243/196930939-5b5b9914-1d78-436e-99a8-64c96164babf.png">

## Addi

[2022-10-21 14:03] #1929 closed

[2022-10-22 11:03] vineetjain27 commented on #1791
hi @zackkrida i understand the changes you suggest,but i feel there is no issue  v-else-if="!hasNoResults && !isSupported" block inside ,i think we do not need to change anything in this block now.it is just work fine.

[2022-10-25 00:15] jason-grayza commented on #1632
For me, this issue is LastPass related.
If I disable the LastPass extension in Safari I do not receive this error. Be interested to see if you all use LastPass in Safari.

[2022-10-25 09:53] kaarelss commented on #1632
Thank you @jason-grayza for your inspections. I was able to reproduce the issue with the LastPass Safari extension. This line is causing the error and Sentry catches it.

<img width="1469" alt="image" src="https://user-images.githubusercontent.com/11540218/197742675-a23ebffd-eb7f-4606-8429-aec16a2c29c2.png">

[2022-10-25 15:11] obulat opened #1935 "Language switcher should have a transparent background"
## Problem

Currently, the language switcher is shown in the footer. When it is on the yellow background, it is white. It should be transparent, with a `dark-charcoal-20` border, instead

## Description

Change the `borderless` language chooser to be transparent.

## Additional context

Link to Figma 404 page: https://www.figma.com/file/KxkZmBNk218V2Fke1GeYCu/New-header-component?node-id=566%3A669

[2022-10-25 15:15] #1922 closed

[2022-10-25 15:22] #1831 closed

[2022-10-26 02:53] obulat opened #1937 "Replace deprecated `set-output` command"
## Problem
The CI logs are full of warnings about the outdated `set-output` command.

## Solution
GitHub actions [introduced](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/) a new set of environment files to manage state and output.

In the `ghcr` workflow,
https://github.com/WordPress/openverse-frontend/blob/952b8e830aff7437584cdc23dab469e8

[2022-10-26 06:07] #1935 closed

[2022-10-26 09:53] obulat commented on #1937
As noted in #1939 comment, most of the warnings seem to come from `setup_node` action, which has recently merged the https://github.com/actions/setup-node/pull/607, but it's not released yet.

[2022-10-26 14:29] cogdog commented on #1344
This filter needs some kind of label or better indicator as to its purpose. As relatively new user of Openverse I had no idea what it did, especially hanging there alone after a list of ~50 sources, "Creator" just hangs out there.

Perhaps: "Limit Search To" or "Search within" with options:

* Title
* Description
* Tags
* Author

And for the reason is people who share media like to be able to trac

[2022-10-26 15:41] #1581 closed

[2022-10-26 22:47] sarayourfriend commented on #1344
@cogdog I like your idea of addressing this, at least to start with, by improving the label. Perhaps "Search based on creator name" would be a good start (based roughly on your suggestion)? Additionally, it could be good to move this to the top of the filter list rather than at the very bottom (where it is surely lost, especially on mobile image search).

I do think there are larger questions abou

[2022-10-27 03:05] cogdog commented on #1344
I don't have the definitive label, just wanted to point out that as is, the filter is very unintuitive.

I agree it should be moved above the long list of source filters (to be honest, I would suggest that maybe those are opened by some kind of accordion or HTML details /summary tags to show/hide.

But I can see now how Creator works as a filter. A search on `Dogtrax`

https://wordpress.org/openve

[2022-10-27 05:20] RambabuPatina commented on #1632
We are facing the same issue too.. No additional info in the logs.
Any idea?

[2022-10-27 05:26] sarayourfriend commented on #1344
All the results on the first example, without the creator filter, include `dogtrax` in the title (and many are not from dogtrax himself). The second includes all of dogtrax's own works, which are impressive in number :slightly_smiling_face:

It comes down to, as I said, that the search does not by default include the creator field and only searches things like title, tags, and description:

https:

[2022-10-27 15:40] #956 closed

[2022-10-27 18:32] #1894 closed

[2022-10-27 21:55] cogdog commented on #1344
Thanks for the explanation and I agree with your guesses in the reasoning here plus in practice I would guess there are not too many cases where people search by Creator.

It does look like, if I guess at the code, there is a possibility of searching just tags, title, or description., so could all be filters like Creator.

I appreciate you taking time to comment here; I do not have the tech chops

[2022-10-27 23:17] sarayourfriend commented on #1344
Sounds good, thanks for contributing this way, @cogdog. It's a great help to clarify requirements and get this issue ready for someone else to work on :pray:

[2022-10-28 03:46] #1798 closed

[2022-10-28 06:35] dhruvkb commented on #1719
@0kyn, it's been 2 months since @shreyanshmalvya commented. Feel free to take this up.

[2022-10-28 14:50] #1719 closed

[2022-10-28 20:29] zackkrida commented on #1791
Hi @vineetjain27, I am not sure I am following your question. The section of the code I was referring to in my comment is this line https://github.com/WordPress/openverse-frontend/blob/c801914bcd05d64c0c58fac80ece43e2b05e1afd/src/components/VMetaSearch/VMetaSearchForm.vue#L17

To see this in the site, do the following:

1. Visit the preferences page of the staging site: https://search-staging.open

[2022-10-28 22:27] zackkrida commented on #1923
@sarayourfriend that work I did was actually on the single result pages, not on the search result pages. I think this issue may relate to layout/container changes made to the global layout to accommodate the new header.

Big ➕ to the playwright test suggestion.

[2022-10-29 13:33] obulat opened #1943 "The `old_header` buttons have incorrect height"
## Description

The (old) header buttons on desktop widths stretch to the height of the highest element. Currently, the tallest element is the `VLogoButtonOld`, which is 50px high instead of 48px as in the mockups. This causes the other buttons to stretch to 50px.

## Reproduction

1. Go to search-staging.openverse.engineering/search/?q=cat
2. Check the buttons in the header.
3. See error: the but

[2022-10-30 05:32] obulat opened #1945 "Media reuse visual regression tests are flaky"
## Problem

The Playwright tests for the media reuse section are flaky. Often, Playwright saves a snapshot that is correct, but the component is scrolled too much up/down. This is probably caused by the late loading of the main image of the page. Here is a sample run that had this error: https://github.com/WordPress/openverse-frontend/actions/runs/3339191584/jobs/5527833590

The failing snapshot i

[2022-10-30 05:51] obulat opened #1947 "`VSearchButtonOld` should only be used for the search page header when `new_header` is off"
## Problem

#1934 has created a separate component for the search bar that is used on the home page and the 404 page, `VStandaloneSearchBar`. It now uses the `VSearchButtonOld`. This means that when we make the `new_header` default, we will have 2 different search button components to maintain.

## Description

We can move all the functionality of the search button used in the designs with the new

[2022-10-30 11:40] 0kyn opened #1948 "`VInputFieldOld` component naming consistency"
## Description
The `VInputFieldOld` component is currently named  as [VInputField](https://github.com/WordPress/openverse-frontend/blob/a8742ebaabb2c192cfe35ca704085f9939a95356/src/components/VInputFieldOld/VInputFieldOld.vue#L46), whereas others `V[...]Old` component are named with the _Old_ suffix.

## Screenshots
I noticed this while inspecting components

![Capture d’écran 2022-10-30 à 12 36

[2022-10-30 13:07] dhruvkb commented on #1948
I don't think this is a bug. The 'Old' suffix is only used for components which have a different design in the new UI and new component `.vue` files.

The design of `VInputField` hasn't changed so there aren't two different `VInputField` components, both old and new components use the same `VInputField`.

[2022-10-30 19:47] sarayourfriend commented on #1923
Oh! I misunderstood this issue. Thank you for clarifying it.

[2022-10-31 15:11] 0kyn commented on #1948
Hi @dhruvkb,

I worded it wrong, `VSearchBarOld` component uses `VInputFieldOld` from `'~/components/VInputFieldOld/VInputFieldOld.vue'`. [import](https://github.com/WordPress/openverse-frontend/blob/a8742ebaabb2c192cfe35ca704085f9939a95356/src/components/VHeaderOld/VSearchBar/VSearchBarOld.vue#L37-L39)

But `VInputFieldOld` component name is currently defined as 'VInputField' instead of 'VInputFi

[2022-10-31 17:34] dhruvkb commented on #1948
Thanks for clarifying @0kyn and sorry about my inaccurate comment. Could you open a PR to fix this?

[2022-11-01 04:26] obulat commented on #1923
We are rendering the search page as mobile on the server. Then, in the `onMounted` hook, we open the filters if the page width is above `lg` and the `localStorage` value for `areFiltersOpen` isn't set to `false`. This causes the error behavior on the video.

The first solution that came to my mind would be to set the filters open on the first render, and then, in `onMounted`, close them if the wid

[2022-11-01 08:09] #1948 closed

[2022-11-07 05:01] obulat opened #1958 "Stop using Teleport for filters sidebar"
## Problem

The filters modal/sidebar visibility is set in `VHeaderFilter` component. The filters sidebar uses Teleport to render in the parent component. This means that it is only rendered after all of JS has been loaded and parsed. It wasn't very noticeable before because the header rendering was also left to that stage. However, now with the cookie-based layout, you can clearly see a blank sid

[2022-11-07 06:15] obulat commented on #978
@panchovm, is there an updated design for the new Privacy page? Do we need to discuss the new page(-s)?

[2022-11-07 10:28] panchovm commented on #1822
Added to my task list

[2022-11-08 06:53] #1925 closed

[2022-11-08 12:26] anton202 commented on #1620
working on it

[2022-11-08 23:48] sarayourfriend opened #1963 "`screen at breakpoint sm with width 640 › filters are updated when media type changes` is flaky"
## Description

See this run for flaky test: https://github.com/WordPress/openverse-frontend/actions/runs/3420250078/jobs/5694859665

## Resolution

- [ ] 🙋 I would be interested in resolving this bug.

[2022-11-09 03:18] zackkrida commented on #978
I suspect what we really need is some copy, and that the page _design_ could simply use the existing layout for text-based pages, like here: https://wordpress.org/openverse/search-help

[2022-11-09 08:29] panchovm commented on #978
Exactly what @zackkrida said. We can revamp those long-reading pages once we finish most of the standalone tasks.

[2022-11-09 15:16] #1620 closed

[2022-11-09 18:47] #1943 closed

[2022-11-10 06:01] obulat commented on #746
The new header design does not have this issue because the order of the items does not change anymore.

[2022-11-10 06:01] #746 closed

[2022-11-10 06:10] obulat commented on #1923
I've moved this issue from the `new header and footer` milestone to `UI state cookie` milestone because the page load will be fixed there.

[2022-11-10 14:02] anton202 commented on #1323
working on it

[2022-11-10 18:15] #1945 closed

[2022-11-12 08:03] obulat commented on #1580
@panchovm, should we change the animated or static styles consistently?

[2022-11-13 05:01] dhruvkb opened #1966 "Avoid pre-commit download for every dev start"
## Description
Every `pnpm dev` makes a cURL request to download and setup pre-commit. The reason

- `pnpm dev` triggers the `predev` script.
- `predev` runs `pnpm install`.
- `pnpm install` completes and runs the `prepare` script.
- `prepare` invokes `./bin/install-pre-commit.sh`.

## Additional context

The flow is more-or-less reasonable, the `install-pre-commit.sh` script should ideally be a n

[2022-11-13 15:16] anton202 commented on #1323
hi @sarayourfriend
regarding: 5. The storybook snapshot tests
you mean that we need to create a file inside of: `test/storybook/visula-regression`
that contains something like this:
[code]

[2022-11-14 00:21] sarayourfriend commented on #1323
Yup, precisely! It'd be nice if the template actually used the `breakpoints` utility as well:

[code]

That way we can encourage testing across breakpoints. @obulat Maybe you have some opinions about which breakpoints to include for these. Should it be all of them or maybe just one mobile and one desktop? :thinking:

[2022-11-14 02:37] sarayourfriend opened #1967 "Add some generic debug logs"
## Problem

We sometimes get p99 response timing spikes up into the 20s of seconds. It would be nice to be able to have _some_ idea where this is coming from.

Until we are able to ingest and use the Prometheus metrics for the frontend, we can rely on logs to gather general timings.

## Description

Log server side render timings and API request response times. To make it possible to easily trace

[2022-11-14 08:22] panchovm commented on #1580
I am drawn to static styles for all focus.

[2022-11-14 18:12] zackkrida commented on #1323
Awesome suggestion, I love this kind of thing. A few years ago I had put something together for Next.js that got a bit of traction in the community: https://github.com/zackkrida/next-codegen

[2022-11-14 19:24] obulat opened #1970 "Replace the border color in the LanguageSelect"
## Problem

The language select uses the shade scale instead of the opacity scale of the dark charcoal colors.

## Description

The `VSelectField` border should be dark charcoal with 20% opacity. This allows us to simplify the code because both variants (yellow and not yellow) have the same border color.

https://github.com/WordPress/openverse-frontend/blob/5dacba4a40907885aed2b25678ec140736c9f159

[2022-11-14 19:51] Mayank-Jain-1 commented on #1970
Can i work on the issue?

[2022-11-14 23:05] sarayourfriend opened #1971 "Only install pre-commit if it isn't already downloaded"
## Description

Right now every `pnpm install` invocation will re-install pre-commit. This adds some time to the installation and even `pnpm dev`. Could we update `install-pre-commit.sh` to check for the `pre-commit` executable and only download it if it isn't present?

## Reproduction

1.  Run `pnpm install` and see pre-commit installing.
2.  Run `pnpm install` a second time and see pre-commit ne

[2022-11-14 23:26] jalajk24 commented on #1971
Can I work on this issue?? I don't know a lot about how to proceed with this

[2022-11-14 23:27] sarayourfriend commented on #1971
You're more than welcome to work on it, @jalajk24. To resolve this issue, please add a check to the `install-pre-commit.sh` file that checks for the `pre-commit` executable and skips installation if it is already present.

[2022-11-15 02:13] obulat commented on #1970
Sure, @Mayank-Jain-1! I'm assigning the issue to you.

[2022-11-15 04:55] #974 closed

[2022-11-15 05:51] Mayank-Jain-1 commented on #1970
I think, as after the change the class would not be changing it should be removed from ```:class``` and should be added to the ```class```
- In ```:class```
[code]
- In ```class```
[code]

[2022-11-15 09:47] anton202 commented on #1323
@zackkrida  https://github.com/zackkrida/next-codegen Nice!

[2022-11-15 14:19] anton202 commented on #1323
any suggestions, ideas on how to add the component name to tsconfig.ts includes property ?
should i just create a Node.js script to do that?

[2022-11-15 14:41] dhruvkb commented on #1971
@jalajk24 are you familiar with how Git and GitHub work? If not start with the [GitHub docs' intro to Git](https://docs.github.com/en/get-started/using-git/about-git).

Next you should read the [`CONTRIBUTING.md`](https://github.com/WordPress/openverse-frontend/blob/main/CONTRIBUTING.md) and [`README.md`](https://github.com/WordPress/openverse-frontend/blob/main/README.md) files for an overview of

[2022-11-15 14:46] zackkrida opened #1974 "Remove grey background behind single result media when the new header is enabled"
## Problem

Currently while the new header is enabled, we continue to show a grey background behind images and audio tracks. This background also no longer spans the full width of the page due to layout changes.

## Description

We should remove these backgrounds and make any other necessary adjustments to make the pages look like the mockups when the new header is open. See figma links for the mo